[2015-11-11 20:38] Deb-Jones opened #6 "Create New Address - make map selection point visible"
User selects Create New Address button and clicks on a point on the map.
Requirement: The point the user selects displays on the map.
This requirement wasn't advised prior to development so hasn't been developed.

[2015-11-11 20:50] Deb-Jones opened #7 "Create New Address Form - Dock form"
Requirement: Dock the Create New Address from on the left of the screen clear of the map window.
This requirement wasn't advised prior to development and so wasn't developed.

[2015-11-11 20:51] Deb-Jones opened #8 "Create New Address Form - disallow multiple open forms"
Requirement: The user should only be able to open one New Address Form at a time.
This requirement was not specified prior to development and has not been developed.

[2015-11-11 20:53] Deb-Jones opened #9 "Map - Road Name"
Road names are not displaying accurately on the map. The type of "Road" is being appended to all roads.
This is not a requirement of the first sprint but will require fixing in a later sprint.

[2015-11-11 20:56] Deb-Jones opened #10 "Create New Address Form - Full Address Field - Hyphen"
Requirement: Entering a hyphen between two whole numbers should result in the first number being transferred to the base field and the second number being transferred to the high field.
When a hyphen is included the full address field does not transform at all.

[2015-11-11 20:58] Deb-Jones opened #11 "Create New Address Form - Number Prefix field - Case"
Requirement: Alphas in the number prefix field should be converted to upper case when the address is submitted.
This requirement was not advised prior to development and was not developed.

[2015-11-11 21:00] Deb-Jones opened #12 "Create New Address Form - Unit Value field - Case"
Requirement: Alphas in the unit value field should be converted to upper case when the address is submitted.
This requirement wasn't communicated prior to development and was not developed.

[2015-11-11 21:02] Deb-Jones opened #13 "Create New Address Form - Unit Value field - Validation"
Requirement: Unit value field must not allow punctuation or spaces.
This requirement was not communicated prior to development and was not developed.

[2015-11-11 21:05] SPlanzer commented on #7
Lets park this until we implement the resolution and change feed widgets. it would be good to see the amount of screen real estate these require. One solution maybe to add this to the tab cluster that the res/change-feed widgets will be a part of.

[2015-11-11 21:17] Deb-Jones opened #14 "Create New Address Form - Alpha field - Validation"
Requirement: Alpha field (addressNumberSuffix) should only allow alpha values.
This requirement was not advised prior to development and was not developed.

[2015-11-11 21:19] Deb-Jones opened #15 "Create New Address form - Alpha field - Case"
Requirement: Alphas in the Alpha field (addressNumberSuffix) must be upper case when submitted to the database.
This requirement was not advised prior to development and was not developed.

[2015-11-12 04:13] SPlanzer commented on #14
Implemented please test in next version

[2015-11-12 04:17] SPlanzer commented on #13
Implemented please test in next version

[2015-11-12 04:23] SPlanzer commented on #10
Implemented - Please test in next version

[2015-11-12 04:29] SPlanzer commented on #9
Implemented - please test in next version

[2015-11-12 04:38] SPlanzer commented on #11
Implemented - Please test in next version

[2015-11-12 04:38] SPlanzer commented on #15
Implemented - Please test in next version

[2015-11-12 04:38] SPlanzer commented on #12
Implemented - Please test in next version

[2015-11-12 19:55] Deb-Jones opened #16 "Create New Address Form - Appellation - not passed to API"
When appellation field is populated, the appellation does not pass through to the API.

[2015-11-12 19:57] Deb-Jones opened #17 "Create New Address Form - Comments - Not passed to API"
When the Comments field is populated the value is not passed to the API.

[2015-11-12 20:01] Deb-Jones opened #18 "Create New Address From - Meshblock Override"
Meshblock is not being displayed and Meshblock Override is not on the form.
This is because it was not included in the 1A build of the API.
e-Spatial are developing it so it should be included in a later sprint once it's been implemented in the API.

[2015-11-12 20:32] Deb-Jones opened #19 "Create New Address Form - Road Centreline ID - make non-editable"
Phase 1A defined that the system requires an addressNumber and roadName to be supplied for an address.  If a roadCentrelineId is also supplied then AIMS will check that the roadName supplied matches that on the road centreline.  There can be no guarantee that a roadCentrelineId passed to the AIMS API is from the LINZ road dataset or is a valid value, therefore AIMS does not accept only a roadCentr

[2015-11-12 20:35] Deb-Jones opened #20 "Create New Address Form - Road Segment Selection Button - Behaviour"
Phase 1A defined that the system requires an addressNumber and roadName to be supplied for an address.  If a roadCentrelineId is also supplied then AIMS will check that the roadName supplied matches that on the road centreline.  There can be no guarantee that a roadCentrelineId passed to the AIMS API is from the LINZ road dataset or is a valid value, therefore AIMS does not accept only a roadCentr

[2015-11-13 00:24] SPlanzer commented on #17
Implemented - please test in next version

[2015-11-13 00:27] SPlanzer commented on #8
Implemented - please test in next version

[2015-11-13 00:30] SPlanzer commented on #16
Implemented - please test in next version

[2015-11-13 00:33] SPlanzer commented on #19
Implemented - please test in next version

[2015-11-16 02:34] Deb-Jones commented on #8
User is still able to open multiple New Address Forms.

[2015-11-16 02:36] Deb-Jones commented on #9
Road name type is now displaying correctly.

[2015-11-16 02:38] Deb-Jones commented on #10
Error has been fixed.

[2015-11-16 02:41] Deb-Jones commented on #10
Reopened because further testing found the format 300-312 now correctly transfers to 300 in the base field and 312 in the high field. But 1/300-312 does not transform at all. It should transform to 1 in the unit field, 300 in the base field and 312 in the high field.

[2015-11-16 02:51] Deb-Jones commented on #11
Alpha prefixes entered in lower case in UI now pass to API upper cased.

[2015-11-16 02:51] #11 closed

[2015-11-16 02:55] Deb-Jones commented on #12
Unit value alphas entered lower case in UI are passed to API in upper case.

[2015-11-16 02:55] #12 closed

[2015-11-16 02:58] Deb-Jones commented on #13
Now unable to enter punctuation or spaces in the UI.

[2015-11-16 02:58] #13 closed

[2015-11-16 03:00] Deb-Jones commented on #14
UI prevents entry of numbers, punctuation or spaces.

[2015-11-16 03:00] #14 closed

[2015-11-16 03:02] Deb-Jones commented on #15
Alphas entered in lower case in UI submitted to API in upper case.

[2015-11-16 03:02] #15 closed

[2015-11-16 03:16] Deb-Jones commented on #16
Appellation field in UI now populates Certificate of Title field. Certificate of Title field in UI doesn't seem to populate anything.

[2015-11-16 03:19] Deb-Jones commented on #17
Retested and comments still not passing to API.

[2015-11-16 03:21] Deb-Jones commented on #19
Retested. Road Centreline ID not editable in the UI.

[2015-11-16 03:21] #19 closed

[2015-11-16 03:23] SPlanzer commented on #10
now handling  1/300-312 and  G101/300-312

Please test in release 0.1.28

[2015-11-16 03:26] SPlanzer commented on #16
fixed, please test in release 0.1.28

[2015-11-16 03:31] Deb-Jones commented on #17
Rechecked, was looking at the wrong field. Notes are passing to sourceReason.

[2015-11-16 03:31] #17 closed

[2015-11-16 18:46] Deb-Jones commented on #9
Streets without a road type are not appearing at all. e.g. The Terrace, The Quarterdeck, The Drive.

[2015-11-16 19:03] Deb-Jones commented on #16
Retested. Successful.

[2015-11-16 19:03] #16 closed

[2015-11-16 19:08] Deb-Jones commented on #10
All tested examples transform.

[2015-11-16 19:08] #10 closed

[2015-11-16 19:59] SPlanzer commented on #9
fixed - done some quick testing. Looks fine

[2015-11-23 21:51] SPlanzer opened #24 "Sprint 1 enhancement - Need to enable snapping to facilitate stacking"
need to enable snapping to facilitate stacking

[2015-11-27 01:07] Deb-Jones opened #25 "Create New Address Form - meshblock override"
When the user creates a new address addressable object, locality and towncity are populated via a point in polygon query. Meshblock is not populated until the address is published, i.e. accepted on the change queue. e-Spatial advise this is designed functionality.
The issue arises when we create the meshblock override. A user will not be able to override an meshblock if they don't know what meshbl

[2015-11-29 22:02] Deb-Jones opened #26 "Retire Address - Changefeed display"
When a user submits a retire address action, there is insufficient information to allow QA review.

![image](https://cloud.githubusercontent.com/assets/15723101/11460465/ab811958-9751-11e5-9bda-72b5eb008323.png)

The current UAT passes because the test is that an address can be retired. But once we develop QA, retire address will fail.

[2015-11-29 22:13] Deb-Jones opened #27 "Map - Identify stacked address"
Stacked addresses can be seen on the map, but only because there are multiple address numbers and one point. From a functional perspective this is adequate, but would be more user friendly if it was easier to identify stacked addresses by looking at the map.

![image](https://cloud.githubusercontent.com/assets/15723101/11460557/5f6f25e4-9753-11e5-8ed8-d7f318bb0077.png)

[2015-11-29 22:16] Deb-Jones opened #28 "Map - View Individual stacked address"
Individual addresses within a stack can be viewed by using the info tool and viewing the results in the Identify Results panel. This is functional, but slows down the workflow as it is not easy to see which addresses are included in a stack.

It would be better to have a list of full addresses pop up and then be able to select one for more details.

![image](https://cloud.githubusercontent.com/ass

[2015-11-29 22:22] Deb-Jones opened #29 "Retire Address - retire stacked address"
When a single address is retired, a confirmation pop-up is displayed giving the user a chance to cancel the retirement. No pop-up appears for a stacked address.

![image](https://cloud.githubusercontent.com/assets/15723101/11460622/9ea0c460-9754-11e5-8598-c00cbae0b2ad.png)

[2015-11-30 00:14] SPlanzer commented on #29
The reason the above message box was added is to make the retirement action explicit. i.e. as opposed to the user just clicking on an point and the address being retired.

With stacked addresses the user selects the stack and the below dialogue appears. The user then selects from the stack which addresses should be retired. The user then has the chance to select "ok" or "cancel". this is the point

[2015-11-30 00:14] #29 closed

[2016-03-29 20:28] SPlanzer opened #34 "resolution thread dying in opa"
resolution thread dying in opa

[2016-03-29 20:29] SPlanzer commented on #34
this will be followed up after the next round of DM development

[2016-04-13 22:42] Deb-Jones opened #35 "Map - Parcel Boundaries"
Test Number 65 - Parcel boundaries will display clearly.
No parcels are being displayed.

[2016-04-13 23:43] Deb-Jones commented on #6
Tested 14/4/16 - point visible.

[2016-04-13 23:43] #6 closed

[2016-04-13 23:45] Deb-Jones commented on #8
Tested 14/4/16 - Only one form opens.

[2016-04-13 23:45] #8 closed

[2016-04-13 23:48] Deb-Jones opened #36 "MAP - Address Labels"
Address labels are not clear when aerial imagery is used. Can the default please be changed to add a white buffer to the address labels?
This is a nice-to-have, not essential.

[2016-04-13 23:55] Deb-Jones commented on #9
Tested 14/4/2016 - fixed.

[2016-04-13 23:55] #9 closed

[2016-04-14 00:06] Deb-Jones opened #37 "Submit Address - Road Mandatory"
Validation rule 30 - RoadName must be provided - Rule ID AIMS: A0001 - Severity Reject

I expect to get an error message or pop-up advising that road name must be provided.

Nothing happens. The Feature Form closes. No change is created.

[2016-04-28 01:53] SPlanzer opened #39 "Concerns concerning timing of responses after a new bounding box is set."

[2016-04-28 01:54] SPlanzer commented on #39
It has been decided that solutions must be tabled and not action taken until approval for a solution granted

[2016-04-28 01:55] SPlanzer commented on #39
In the mean time I will gather metrics as to quantify the issue

[2016-04-28 01:58] SPlanzer opened #40 "UI Crashes observed"
Deb and myself to collect any logs related to crashs

[2016-04-28 22:12] Deb-Jones commented on #35
Release 0.7.2 - parcel boundaries now displaying

[2016-04-28 22:12] #35 closed

[2016-04-28 22:20] Deb-Jones opened #41 "Edit Feature form - Unit Type field label missing"
The Unit Type label is not displaying on the Edit Feature form.

[2016-04-28 23:31] Deb-Jones opened #42 "Validation Rule - Address is not Unique on the road object"
Every time I create a new address populating only base address and road name, the resolution feed link and the change feed link advise that the address is not unique on the road object. This is when the address is unique.
http://144.66.241.207:8080/aims/api/address/resolutionfeed/4881218
http://144.66.241.207:8080/aims/api/address/changefeed/4881218
The warning does not appear on the Review queue

[2016-04-28 23:35] Lisa-Merwood commented on #42
@shane-turk-espatial could you please take a look at this bug from Deb.

[2016-04-28 23:35] Deb-Jones commented on #25
Testing 0.7.2 of the UI, Meshblock is not returned when a new address is added. Where did we get on the meshblock questions?

[2016-04-29 00:02] Deb-Jones commented on #20
Tested 0.7.2. Road Segment Selection Button populates associated road name fields.

[2016-04-29 00:02] #20 closed

[2016-04-29 02:15] Deb-Jones opened #43 "Review Queue - Display of Warnings"
When you add an address and a warning is created, the change appears on the review queue but the warning is not displayed.

When you close QGIS and re-open it the warning displays.

Even when the warning is not displayed, the user is unable to accept a change with a warning.

[2016-04-29 02:49] Deb-Jones opened #44 "Submit Address - Meshblock Not Returned"
When you submit an address some fields are populated by point-in-polygon by the API, e.g. locality. Meshblock should also be populated but it is not appearing on the changefeed or the resolution feed messages.
http://144.66.241.207:8080/aims/api/address/changefeed/4881223
http://144.66.241.207:8080/aims/api/address/resolutionfeed/4881219

[2016-04-29 04:34] david1jewell commented on #44
Meshblock is not calculated in requests on change/resolution feeds, it is calculated on accepting the change into address-features.
When a meshblock override is supplied in the change then this is returned as part of change/resolution outputs.

[2016-05-01 22:48] Deb-Jones commented on #42
There is an update to this. It is not happening everywhere.
Addresses where it has occurred include;
3, 10, 13 Pamela Place, Otumoetai, Tauranga
15, 17, 24 Hillcrest Road, Otumoetai, Tauranga
10 Stratford Place, Otumoetai, Tauranga
It did not occur for;
123 Grange Road, Otumoetai Tauranga
5 Lees Way, Otumoetai, Tauranga
10 Apollo Street, Otumoetai, Tauranga
These three addresses are between the ad

[2016-05-01 22:53] Deb-Jones commented on #44
I have tested this and seen the meshblock returned when the address is published. Thanks.

[2016-05-01 22:53] #44 closed

[2016-05-01 23:11] Deb-Jones opened #45 "Feature Form - Select Road Segment Tool"
When there are multiple road segments on top of each other, or very close to each other, the select road segment tool is unable to find a segment.

After activating the tool, it is not possible to submit an add without entering the road centreline id. The Road Centreline Id field is not editable, so you can't enter it manually.

Examples;
Maungawhare Place, Otumoetai, Tauranga. RCL_ID 324907 (two

[2016-05-01 23:46] Deb-Jones opened #46 "Feature Form - punctuation"
Users should not be able to enter punctuation in the following fields;
Base
High

Users can enter + or - in these fields and submit the address. The punctuation disappears before it hits the change feed. If + or - is entered in Base, an error pops up saying that AddressNumber must be provided.

Unit should also not allow punctuation but does allow _
The _ is passed through to the change feed and c

[2016-05-01 23:51] Deb-Jones commented on #46
Also, all the road name component fields allow any punctuation but they should not allow any punctuation other than the road name field which should only allow dash, apostrophe and space.

[2016-05-01 23:56] Deb-Jones opened #47 "Submit Address - Address mandatory"
When I submit an address with only a road, I get a python error.

An error has occurred while executing Python code:

Traceback (most recent call last):
  File "D:/Users/djjones/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ChangeQueueWidget.py", line 119, in submitAddress
    self._controller.uidm.addAddress(self.feature, respId)
  File "D:\Users\djjones\.qgis2\python\plugins\aims\AimsUI\AimsC

[2016-05-02 00:00] Deb-Jones commented on #37
Tested 2/5/16 in 0.7.2. Pop Up warning No Road Centreline Supplied.

[2016-05-02 00:00] #37 closed

[2016-05-02 00:10] Deb-Jones opened #48 "Feature Form - Road Name Components"
It is a requirement to type in the required road name components, or an alias of the required road name and for the associated Road Centreline to be populated from the system.

When you enter road name components, and a base address, and then submit, an error pops up "No Road Centreline Supplied". You are not able to submit the address.

[2016-05-02 00:19] Deb-Jones opened #49 "Feature Form - case"
When lower case alphas are entered into the unit or alpha field they should be upper cased when sent to the API. The database should not hold any lower cased alphas in unit or alpha field.

When you enter lower case in unit or alpha, the message to the API is lower case. When you accept the address, the published data shows as lower case.

[2016-05-02 01:03] Deb-Jones commented on #49
prefix should also be upper cased, but it is being published as lower case.

[2016-05-02 01:18] Deb-Jones commented on #42
I am also getting this error on The Esplanade, Petone, Lower Hutt. 7, 19 and 31.

[2016-05-02 01:26] Deb-Jones opened #50 "Map - Missing Proposed Addresses"
When an address is created with a life cycle of Proposed, it does not display on the map.

Examples;
Address ID 1787856 - "3 Nevis Street, Petone, Lower Hutt"
Address ID 1787851 - "Apartment 10a, ran113b The Esplanade, Petone, Lower Hutt"

[2016-05-02 01:35] Deb-Jones opened #51 "Feature Form - Comments"
The comments entered in Notes do not clear when you submit a change. So the next change you create has the same notes as you previously entered.

This should clear upon submit.

[2016-05-02 01:56] Deb-Jones opened #52 "Submit Address - High"
When I create an address with base and high (i.e. a ranged address), the layer in the UI and the Review Queue has a ranged address. But when I accept the address, the high number disappears and the address only has the base number.

Examples; Address ID 1787859 - 102-104 Upper Puniho Road
Address ID 1787858 - 12345-12347 Upper Puniho Road

[2016-05-02 02:07] Deb-Jones commented on #52
Additionally, Validation rule 28, AddressNumberHigh cant be supplied for an Insert, rule ID AIMS: V0012, Severity Info, Visible = True. The review queue should get an info about this, but no info is being displayed. No info appears on the messages.
http://144.66.241.207:8080/aims/api/address/changefeed/4881269
http://144.66.241.207:8080/aims/api/address/resolutionfeed/4881269

[2016-05-02 02:29] Deb-Jones opened #53 "Review Queue - Display of Infos"
Infos are not appearing on the Review Queue. Even if I close QGIS and reopen it, the infos are not displaying.

Example, Change ID 4881270
 "ruleId":"AIMS: V0012",
                "description":"Address Number or Address Number High Could be Too Large",
                "severity":"Info"

There is no info on the review queue for this change.

[2016-05-02 02:34] josephramsay commented on #39
Responsiveness Improvement Suggestions
1. Pre-cache address points from disk and display in map window only populating status data during update cycle and/or bbox request (significant rewrite of dm code section, appearance of responsiveness, depends on QThreads in UI to be effective)
2. Spawn multiple bbox fetch threads without waiting for previous threads to die (risk of api overload/slowdown and

[2016-05-02 03:43] Deb-Jones commented on #7
0.7.2 Form now docked.

[2016-05-02 03:43] #7 closed

[2016-05-02 03:44] shane-turk-espatial commented on #52
We have investigated the API and the database functions fnProcessAddress and fnPublishAddress and all three components allow an address with an address high range to be inserted.  The validation fnPublishAddress will raise an INFO for the message "AddressNumberHigh cant be supplied for an Insert";"AIMS: V0012".  I processed the address example for 102-104 Upper Puniho Road and it was accepted with

[2016-05-02 04:01] Deb-Jones opened #54 "Roads - Chatham Islands"
When you navigate to the Chatham Islands the roads appear in a different location to the AIMS features (addresses).

[2016-05-02 04:03] Deb-Jones opened #55 "Reference Data - Chatham Islands"
I have not found the Chatham Islands reference data. It is not near the roads, and it is not near the address points.

[2016-05-02 04:05] shane-turk-espatial commented on #42
I have produced the validation warning for each of the examples that you have raised.  I am now investigating.  If there is an updated database function required how do you want this supplied?

[2016-05-02 04:05] shane-turk-espatial commented on #42
@Deb-Jones @SPlanzer

[2016-05-02 04:42] shane-turk-espatial commented on #42
The fnProcessAddress has been altered to include a check for suburb.  Once introduced 13 Pamela Place is not returned as a duplicate.  The tests were performed for Hillcrest Road, and Stratford Place without any issues. In the screenshot (attached), number 3 and 10 already look as though they are proper address and should return duplicates. An update validation function has also been attached.  I

[2016-05-03 01:34] david1jewell commented on #39
Address feature data could be refreshed from API via something similar to the old address-publish feed (developped then dropped in 1A), which retreived only changes to a bbox since it was last run. It may also be possible to achieve this for change & resolution feeds.

[2016-05-03 02:24] billgeo opened #56 "Add functionality to move the location an address on the review queue"
As discussed in today's defect review meeting, this is needed to allow address reviewers to resolve validation warnings etc.

[2016-05-03 03:48] Deb-Jones opened #57 "Get Road Centreline Tool - Macrons"
Unable to select a road centreline that contains a macron. A Python Error is generated.

Traceback (most recent call last):
  File "D:\Users\djjones\.qgis2\python\plugins\aims\AimsUI\GetRclTool.py", line 92, in canvasReleaseEvent
    self.name = UiUtility.nullEqualsNone(str(results[0].mFeature.attribute('road_name_body')))
UnicodeEncodeError: 'ascii' codec can't encode character u'\u014d' in posit

[2016-05-03 22:29] billgeo commented on #55
All Chathams data should appear west of NZ (0-360 coordinates). This will be fixed in https://github.com/linz/AIMS/issues/1.

Can be closed here once retested.

[2016-05-03 22:33] billgeo commented on #54
All Chathams data should appear west of NZ (0-360 coordinates). This will be fixed in https://github.com/linz/QGIS-Roads-Plugin/issues/27

Can be closed here.

[2016-05-04 00:46] Deb-Jones commented on #52
[GitHub Issue 52.docx](https://github.com/linz/QGIS-AIMS-Plugin/files/248024/GitHub.Issue.52.docx)

The High field isn't getting passed through to the API. I've attached all my steps for an example.

[2016-05-04 04:30] Deb-Jones commented on #51
Workaround would be to manually clear this out.

[2016-05-04 04:32] Deb-Jones commented on #50
Not a go live priority because there is currently no business process for TAs to advise us that an address is proposed, or that an address has changed from proposed to current.

[2016-05-04 04:55] Deb-Jones commented on #49
@rgabara yesterday we discussed this being done in the database. Should this issue be reassigned to e-Spatial?

[2016-05-04 21:06] Deb-Jones opened #58 "Submit address - Roads with Numbers"
Unable to submit an address when the road name has a number. Python error created.

Traceback (most recent call last):
  File "D:/Users/djjones.AD/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ChangeQueueWidget.py", line 119, in submitAddress
    self._controller.uidm.addAddress(self.feature, respId)
  File "D:\Users\djjones.AD\.qgis2\python\plugins\aims\AimsUI\AimsClient\Gui\UiDataManager.py",

[2016-05-04 21:20] Deb-Jones opened #59 "Submit address - Water Routes"
Unable to submit an address for a water route. Python error.

Traceback (most recent call last):
  File "D:/Users/djjones.AD/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ChangeQueueWidget.py", line 119, in submitAddress
    self._controller.uidm.addAddress(self.feature, respId)
  File "D:\Users\djjones.AD\.qgis2\python\plugins\aims\AimsUI\AimsClient\Gui\UiDataManager.py", line 129, in addAddre

[2016-05-04 21:31] Deb-Jones commented on #46
Assigned version 1.1 because the only real risk to the database is that a user can add _ as a unit number. Users can avoid doing that.

[2016-05-04 21:33] Deb-Jones commented on #48
Classified as version 1.1 because the process will be that the user can click on the road centreline. This function will need addressing as part of 1.1 to consume spatial files.

[2016-05-04 21:35] Deb-Jones commented on #42
Wasn't sure who to assign this to, but I need Shane's bug fix implemented to enable me to test it again.

[2016-05-04 21:37] Deb-Jones commented on #41
Assigned version 1.1 because it's the only field missing a label, and there is a drop down associated which makes it clear what the field is. Not worth spending time on pre-go-live.

[2016-05-04 21:40] Deb-Jones commented on #25
Questions were answered in the reference data meeting.

[2016-05-04 21:40] #25 closed

[2016-05-04 21:42] Deb-Jones commented on #18
We need Meshblock Override on the Feature form because there are around 80 addresses that fall outside all meshblocks and therefore require an override to be entered.

[2016-05-04 23:59] Deb-Jones commented on #58
Unrelated issue. Was unable to create any addresses. Now fixed. Successfully created addresses on No 3 Arterial Road.

[2016-05-04 23:59] #58 closed

[2016-05-05 00:16] Deb-Jones commented on #59
Previous Issue resolved, new python error when submitting a water address:

Traceback (most recent call last):
  File "D:/Users/djjones.AD/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ChangeQueueWidget.py", line 119, in submitAddress
    self._controller.uidm.addAddress(self.feature, respId)
  File "D:\Users\djjones.AD.qgis2\python\plugins\aims\AimsUI\AimsClient\Gui\UiDataManager.py", line 129

[2016-05-05 00:41] Deb-Jones opened #60 "Submit Addres - road suffix"
When I create an address on a road with a suffix, both the Road Prefix and the Road Suffix are being populated with the road Suffix.

e.g. Union Street West in Dunedin on before submit appears as:
Road Prefix: null
Road Name: Union
Road Type: Street
Road Suffix: West
Appears on resolution queue as:
Road Prefix: West
Road Name: Union
Road Type: Street
Road Suffix: West

Also, when I try to accept I

[2016-05-05 03:54] LizStandley opened #61 "Messages to users"
5/5/16 - moved over from scrum board

[2016-05-05 05:23] LizStandley opened #62 "Group Comments"
5/5/16 - moved over from scrum board

[2016-05-05 05:24] LizStandley opened #63 "Update User Filter"
5/5/16 - moved over from scrum board

[2016-05-05 05:24] LizStandley opened #64 "Managing Selection"
5/5/16 - moved over from scrum board

[2016-05-05 05:25] LizStandley opened #65 "Sort-able Feature View"
5/5/16 - moved over from scrum board

[2016-05-05 05:25] LizStandley opened #66 "Lineage Tool"
5/5/16 - moved over from scrum board

[2016-05-05 05:25] LizStandley opened #67 "Contextual Layers"
5/5/16 - moved over from scrum board

[2016-05-05 05:26] LizStandley opened #68 "Threading the UI"
5/5/16 - moved over from scrum board

[2016-05-06 03:37] Deb-Jones opened #69 "Retire Address - Stacked Address"
When you retire a stacked address a warning pops up stating Conflict - AddressId has been updated by someone else. The retire still happens, so the message should not be appearing.

Assigned to milestone 1.1 because functionally the system still works so we could go live with this bug.

[2016-05-06 03:51] Deb-Jones opened #70 "Date Provided Field"
Earlier in the project we discussed the requirement for a date provided field. This was a field the user would have to key a date into representing when the TA provided the edit to LINZ. The purpose of this edit was to allow @linzbjones to do his monthly reporting.

The field doesn't appear to be in the database or elsewhere.

It is a missed requirement, we need to include this as a requirement fo

[2016-05-09 21:11] david1jewell commented on #39
Another option to speedup responses from the API from the features list would be to only bring back relevant field to show on the map/list. At present most of the time spent is on extracting all the fields, so reducting to just a few (eg addressid, fulladdressnumber, fulladdress, primary position) often takes less than 20% the time to retreive the full details. There could be a parameter to contro

[2016-05-09 23:48] dwsilk commented on #45
I've removed historic data from the view that the QGIS-AIMS-Plugin was using.

[2016-05-09 23:48] #45 closed

[2016-05-10 01:06] Deb-Jones opened #71 "Update Lifecycle - current to proposed"
You can't update a lifecycle from current to proposed. Validation Rule 47 - LifeCycle for an Update cant be changed from Current to Proposed - AIMS: V0023 - Reject.

The issue is that when a user tries to do this, an error message pops up and you lose your whole edit. It would be better if you were able to amend your edit and resubmit.

[2016-05-10 01:23] Deb-Jones commented on #49
A separate issue has been raised in the AIMS repository for this to be implemented in the API or Database, Issue 66. This issue remains open to implement upper casing in the UI. The following fields are affected:
Unit Value
Level Value
Address Number Prefix
Address Number Suffix

[2016-05-10 21:28] Deb-Jones commented on #24
Tested 0.7.2 - snapping working fine for stacking and road centreline selection.

[2016-05-10 21:28] #24 closed

[2016-05-10 21:49] Deb-Jones commented on #26
Tested 0.7.2.

The API message looks OK now, but there is an issue with how it displays.  In the UI the Full Road displays as:  _components_roadPrefix Maungawhare Place _components_roadSuffix _components_Watername

[code]

}

[2016-05-15 21:35] SPlanzer commented on #69
The same address was getting retire multiple times due to selection model reporting selected rows twice. Hence the second time a stacked address is retired the conflict was raised.

Selection Model updated. Please retests against AIMS-0.8.1

[2016-05-15 22:05] SPlanzer opened #73 "Pugin does not resize in the dock window"
Introduced in 0.8.0

[2016-05-15 22:57] SPlanzer commented on #47
Please retest in 0.8.1

It should now be expected that a error message is raised to the user at which point the user can add further address information.

[2016-05-15 23:01] SPlanzer commented on #48
Please Retest in 0.8.1

The UI will now proceed to submit the information to the API if the minimum required 'Feature Form' fields are populate. The minimum required fields that must be populated in the UI are; base number and road name.

[2016-05-15 23:10] SPlanzer commented on #60
Please retest in 0.8.1

[2016-05-16 00:39] SPlanzer commented on #49
please retest in 0.8.1

[2016-05-16 00:45] SPlanzer commented on #40
Hi Deb, Please monitor and report back

[2016-05-16 01:14] SPlanzer commented on #50
Add to the aims Feature Layer

Please test in 0.8.1

[2016-05-16 01:40] SPlanzer commented on #43
Please retest in 0.8.1

[2016-05-16 02:41] SPlanzer commented on #26
Please retest in 0.8.1

[2016-05-16 03:36] SPlanzer opened #74 "Require "Road Name" blacks water addressing being submitted to the ChangeFeed"
It has been observed and is confirmed by the html docs that a road name is required for all ~changefeed/adds. This is blocking water features being submitted as they do not have a road name

[2016-05-16 03:37] SPlanzer commented on #74
oops, this should have been against  the API. Issue closed here and open against API

[2016-05-16 03:37] #74 closed

[2016-05-16 03:39] SPlanzer commented on #59
this is pending API issue https://github.com/linz/AIMS/issues/70

[2016-05-17 03:11] SPlanzer commented on #53
Please retest in 0.8.1

[2016-05-17 03:28] SPlanzer commented on #52
Please retest in 0.8.1

[2016-05-17 03:34] SPlanzer commented on #56
test in 0.8.1.

Single Feature can be moved. Awaiting group data derived from ref data loads to test this functionality with group items

[2016-05-17 03:38] SPlanzer commented on #51
Please retest in 0.8.1

[2016-05-17 21:19] SPlanzer commented on #34
Stability is being monitored via #40 . Closed

[2016-05-17 21:19] #34 closed

[2016-05-17 21:24] SPlanzer opened #75 "Persist Rcl causing instability"
Crashes observed with the use of the Persist Rcl check box since char encoding changes related to #57. This functionality has been temp disable as not to halt the roll out of 0.8.1.

This functionality will be reinstated in 0.8.2

[2016-05-17 23:10] Deb-Jones commented on #69
Tested 0.8.1.
No longer get the conflict warning.

[2016-05-17 23:10] #69 closed

[2016-05-17 23:12] Deb-Jones commented on #26
Tested 0.8.1
Full road correctly displaying for retires in review queue.

[2016-05-17 23:12] #26 closed

[2016-05-17 23:14] Deb-Jones commented on #43
Tested 0.8.1
Warnings are appearing on the review queue immediately.

[2016-05-17 23:14] #43 closed

[2016-05-17 23:16] Deb-Jones commented on #47
Tested 0.8.1
Error pop up stating Please supply a Complete Address Number.
Selected OK, entered a number and was able to submit the add.

[2016-05-17 23:16] #47 closed

[2016-05-17 23:21] Deb-Jones commented on #48
Tested 0.8.1
Able to enter number and road name.

[2016-05-17 23:21] #48 closed

[2016-05-17 23:22] Deb-Jones commented on #53
Tested 0.8.1
Infos now display.

[2016-05-17 23:22] #53 closed

[2016-05-17 23:27] Deb-Jones commented on #49
Tested 0.8.1
All four fields entered lower case, submitted as upper case.

[2016-05-17 23:27] #49 closed

[2016-05-17 23:51] Deb-Jones commented on #50
Tested 0.8.1
Proposed addresses display as orange.

[2016-05-17 23:51] #50 closed

[2016-05-18 00:06] shane-turk-espatial commented on #59
@Deb-Jones @SPlanzer When submitting a water address is the road name and suburb information being passed to the API in the waterroutename and watername fields?

[2016-05-18 00:56] Deb-Jones commented on #51
Tested 0.8.1
Comments cleared out.

[2016-05-18 00:56] #51 closed

[2016-05-18 01:24] Deb-Jones commented on #54
Retest when next release goes in.

[2016-05-18 01:28] Deb-Jones commented on #64
The review queue selection gets dropped.

[2016-05-18 01:29] Deb-Jones commented on #65
The ability to sort the features within a group on the review queue.

[2016-05-18 01:30] Deb-Jones commented on #67
Additional layers. e.g. lodged parcels.

[2016-05-18 01:32] Deb-Jones commented on #68
When QGIS becomes non-responsive.

[2016-05-18 01:50] Deb-Jones commented on #39
@rgabara to follow up with @josephramsay

[2016-05-18 02:11] josephramsay commented on #39
_4. Delay bbox requests till user has finished panning map window. Detect user-interaction state or provide a button to explicitly refresh map window. (Introduces additional delays)
_5. Zoom layer map window to only show points < 1000 so only one page is requested at a time (Window size not a good indicator of point density)

[2016-05-18 02:47] SPlanzer commented on #59
@shane-turk-espatial  We are not providing a suburb but are suppling the centreline name against the WaterRoute . The API provides the following warning "RoadName must be provided"

Below is an example of the outgoing payload and response when submitting a water feature

**REQUEST**
{
   'addressedObject':{
      'addressPositions':[
         {
            'position':{
               'crs':{

[2016-05-18 03:00] Deb-Jones commented on #52
Tested 0.8.1
Address high now being submitted and recorded in database once add is approved.

[2016-05-18 03:00] #52 closed

[2016-05-18 03:03] Deb-Jones commented on #56
Tested 0.8.1

Able to move single addresses in review queue.

Leaving issue open to test with reference data updates, i.e. groups. This was the purpose for the functionality.

[2016-05-18 03:11] Deb-Jones commented on #60
Tested 0.8.1.

The review queue displays the correct road name in Full Road, but in the break down below it still shows West in the prefix field.

![image](https://cloud.githubusercontent.com/assets/15723101/15346246/1abbd00e-1d0a-11e6-8675-3bcde8b7f6a4.png)

The database is being updated correctly.
15898691;1787896;18;"Dunedin"
15898690;1787896;17;"North Dunedin"
15898689;1787896;14;"West"
158986

[2016-05-18 03:39] SPlanzer commented on #71
Warning shown and update not submitted.

Please test in Release 0.8.2

[2016-05-18 03:57] SPlanzer commented on #41
Please Retest in 0.8.2

[2016-05-18 04:49] SPlanzer opened #76 "Minimise meaningless bbox requests associated with a low thread join timeout"

[2016-05-18 05:00] SPlanzer commented on #18
Please retest in 0.8.2

[2016-05-19 02:00] Deb-Jones commented on #18
Tested 0.8.2

Meshblock override saved and displayed against the published address.

Have raised a separate query to find out where this is stored in the database.

[2016-05-19 02:01] Deb-Jones commented on #28
Acceptable as is.

[2016-05-19 02:01] #28 closed

[2016-05-19 02:16] Deb-Jones commented on #41
0.8.2 Tested

Label is there.

[2016-05-19 02:16] #41 closed

[2016-05-19 02:18] Deb-Jones commented on #71
Tested 0.8.2

Warning is given and opportunity given to change the lifecycle.

[2016-05-19 02:18] #71 closed

[2016-05-19 02:24] Deb-Jones commented on #18
Every time you edit an address, the meshblock override is populated with the current meshblock.

[2016-05-19 02:52] Deb-Jones commented on #18
The issue is that the edit feature form reads stage.address_publish.meshblock. This database field includes the meshblock (point in polygon) or the meshblock override. Nothing in the table advises whether this field includes the point in polygon meshblock or the meshblock override.

If this field on the add feature or edit feature of the UI is populated, the stage.address_meshblock_override will b

[2016-05-19 03:36] Deb-Jones commented on #18
Assigned to @rgabara because we need to discuss where to go from here.

[2016-05-19 04:41] Deb-Jones opened #77 "Map Disappearing"
Occasionally when I am working, the map layers disappear. Panning or searching does not bring them back.
[2aims.txt](https://github.com/linz/QGIS-AIMS-Plugin/files/271847/2aims.txt)
[2uilog.txt](https://github.com/linz/QGIS-AIMS-Plugin/files/271848/2uilog.txt)
[1aims.txt](https://github.com/linz/QGIS-AIMS-Plugin/files/271849/1aims.txt)
[1uilog.txt](https://github.com/linz/QGIS-AIMS-Plugin/files/27

[2016-05-19 20:51] SPlanzer commented on #73
The plugin does resize but is just sluggish to do so. The user must hold and drag only releasing the left click once the resize has occurred.

[2016-05-19 20:51] #73 closed

[2016-05-20 01:21] josephramsay commented on #39
Lowering the THREAD_JOIN_TIMEOUT improves this issue though may effect stability. Have added additional breaks to prevent stopped threads progressing

[2016-05-20 01:21] #39 closed

[2016-05-22 20:54] SPlanzer commented on #60
Please test again in 0.8.3

[2016-05-23 02:04] SPlanzer commented on #75
remedied

[2016-05-23 02:04] #75 closed

[2016-05-23 23:07] Deb-Jones commented on #18
e-Spatial to edit the API to include an isMeshblockOverride flag.
This edit will be included in today's API release.

UI to be adapted so that during an edit and on the review queue, the Meshblock Override field is only automatically populated when isMeshblockOverride flag is set to T.

No change required to add.

[2016-05-24 00:40] SPlanzer commented on #76
Function added to ensure if the user zooms within an existing extent a bounding box call is not made. This significantly spends up zooming within an extent and stops bbox calls spawning threads unnecessarily.

[2016-05-24 04:19] billgeo commented on #36
Simon, this is something Ian Reese could look at potentially.

[2016-05-24 04:19] billgeo commented on #27
Also one for Ian Reese?

[2016-05-24 04:27] SPlanzer commented on #36
@billgeo, Seems deb just wants a white buffer around labels. This is a two min job for me. It would take Ian much longer to check out the source code, and update the .qml files.

[2016-05-24 04:27] SPlanzer commented on #27
@billgeo - If he likes, However I suspect the solution would require a fair bit of coding to summarise the addresses within the stacks

[2016-05-24 23:19] Deb-Jones commented on #27
It might be something that we wait until we've implemented primary/sub addressing so we can utilise the primary address as a label.

[2016-05-24 23:46] Deb-Jones opened #78 "Process Documentation"
We need to document future state processes.

[2016-05-25 22:18] SPlanzer commented on #57
Please Retest in 0.8.3

[2016-05-27 00:11] shane-turk-espatial commented on #42
ready for retest once script has been deployed.

[2016-05-27 04:00] Deb-Jones commented on #42
Retested. Error no longer occurring.

[2016-05-27 04:00] #42 closed

[2016-05-27 04:00] SPlanzer commented on #64
please review in current version 0.8.9+

[2016-05-27 04:05] Deb-Jones commented on #64
Tested in 0.8.9
The review queue is still jumping selections. It jumps every 4-9 seconds. (I timed it).

[2016-05-27 04:08] Deb-Jones commented on #54
Tested 0.8.9.
roads and address points are in the same place. Parcels are not.

Will this be fixed with the 7/6 release into test?

[2016-05-27 04:11] SPlanzer commented on #64
??? I'll have to pay you a visit Tuesday. The symptoms you have mentioned have never been quite what I have seen. The selection is currently stable in both my environments (including opa) and when an item is accepted or declined the selection moves to the next line.

[2016-05-27 04:14] billgeo commented on #54
To clarify, parcels are in the 'right place' and roads and address points need to have 0-360 coordinates.

@dwsilk can you answer this for Deb from the roads point of view? I can confirm that this _should_ be the case for the address points when e-Spatial deliver their migration scripts in the next release.

[2016-05-27 04:20] Deb-Jones commented on #57
Tested 0.8.9.
Now able to select a road centreline with a macron.
Road name in message to API not macronated:
 "roadCentrelineId":366422,
            "roadName":"PÅ«rÄkaunui",
            "roadType":"Road",
Displays correctly on review queue.
Displays correctly when I info tool the accepted address point.
Displays correctly in the address_publish table.
Displays correctly in the address component

[2016-05-27 04:20] #57 closed

[2016-05-27 04:25] Deb-Jones commented on #60
Tested 0.8.9, passed.

[2016-05-27 04:25] #60 closed

[2016-05-29 21:59] dwsilk commented on #54
Roads are in the right place in test. I haven't updated dev data as it would then be out of sync with the address data. Back to Deb to retest after e-Spatial's next migration.

[2016-05-29 23:34] Deb-Jones commented on #59
Tested 0.8.9

Created 37 Awaroa Bay. (entered number 37 and selected the RCL for Awaroa Bay). Upon submit an error popped up (preventing submit). "WaterName must be provided".

Created 39 Awaroa Bay. (entered number 39 and selected the RCL for Awaroa Bay, typed "Awaroa Bay" into the Water Name). Submitted successfully and approved successfully.

Created 41 Awaroa Bay. (entered number 41 and select

[2016-05-29 23:36] Deb-Jones commented on #77
Haven't seen this in the current version of the UI. Will close the issue and reopen if it occurs again.

[2016-05-29 23:36] #77 closed

[2016-05-30 00:33] Deb-Jones opened #79 "Retire Address - Python Error"
Testing 0.8.9

1. Select the retire address tool.
2. Click on an existing address.
3. Pop up saying address will be retired. Click OK.

The retire appears on the change queue.
The address is shown on the map as a pending retire.
A python error displays.

4. Accept retire.

The point disappears from the map.
The retire disappears from the change queue.
A row is added to the address_publish table fo

[2016-05-30 01:55] Deb-Jones opened #80 "Appellation"
Testing 0.8.9

Appellation no longer gets passed to API.

[2016-05-30 21:12] SPlanzer commented on #80
Please retest in next 0.8.10

[2016-06-01 04:37] shane-turk-espatial commented on #59
@Deb-Jones  could I please get the REQUEST/RESPONSE similar to the example above for those addresses please.  I have changed the code here but do not want to commit until I have tested it.

[2016-06-01 21:57] SPlanzer opened #81 "Tidy Feature Highlighting"
When a user cancels an action, associated highlighting is removed. However if the user does not cancel (e.g via an abort or form close button) an action and switches to a new tool the highlighting persists until a new selection is made.

When a new tool is selected feature highlighting must be reset or at-least hidden

[2016-06-01 22:31] #81 closed

[2016-06-01 22:31] SPlanzer commented on #81
resolved

[2016-06-01 23:57] Deb-Jones commented on #18
The additional field was added to the database, but not the API. It should be included in tomorrow's API release.

After that, UI can be adapted.

[2016-06-01 23:58] Deb-Jones commented on #40
No crashes observed in last few versions of the UI. Issue can be closed.

[2016-06-01 23:58] #40 closed

[2016-06-02 00:02] Deb-Jones commented on #59
@SPlanzer can you supply this to @shane-turk-espatial?

[2016-06-02 00:04] Deb-Jones commented on #61
If this is the messages that pop up at the top of map, Simon has seen these on my screen and should be able to comment. I haven't recorded their frequency. Also, their appearance has often coincided with issues on the server.

[2016-06-02 00:06] Deb-Jones commented on #64
The process that triggers this to occur is for the user to sort the review queue by change order number in descending order, then select the top item. I think this is a process users will want to follow so that they can approve the changes they've just created.

[2016-06-02 00:11] Deb-Jones commented on #78
I can't upload the visio file.

I have done detail processes for receive address, add address, edit address.
I have done detail processes for add road current state.

I am currently attempting high level processes (i.e. not software specific).

[2016-06-03 02:58] SPlanzer commented on #64
Please retest 0.8.10

[2016-06-03 02:59] SPlanzer commented on #79
Please retest in 0.8.10

[2016-06-03 03:58] SPlanzer commented on #59
Water requests and responses as requested. @shane-turk-espatial  and @Deb-Jones let me know if i missed anything here.

Debs **example 2**. As she outlines above, I have sent a water request with a NUMBER, WATER ROUTE NAME and WATER NAME with the same name as the water route

**REQUEST (Payload)**
dict: {'addressedObject': {'addressPositions': [{'position': {'crs': {'type': 'name', 'properties': {

[2016-06-03 04:01] shane-turk-espatial commented on #59
Thanks for the data.  The release is currently underway and cant be actioned until next week.

[2016-06-03 04:19] Deb-Jones opened #82 "Address Position Reverting to Unknown"
The address position type reverts to unknown.

[2016-06-07 04:25] SPlanzer commented on #82
please retest in 0.8.10

[2016-06-07 23:36] Deb-Jones opened #83 "Address Data Position Descriptions"
Current address data positions in the drop down of the Edit Feature form include:

1 = Centroid
2 = Label
3 = Set Back off Road
4 = Unknown

AS/NZS 4819:2011 has the following types:
![image](https://cloud.githubusercontent.com/assets/15723101/15878138/b3423f94-2d6c-11e6-9a3e-4065ac14e768.png)

The values in the drop down should be updated to include:

Building centroid
Parcel centroid (4819 speci

[2016-06-08 20:58] SPlanzer commented on #76
number of bbox requests reduced by above functionality.  Closed

[2016-06-08 20:58] #76 closed

[2016-06-13 02:35] linzbjones commented on #78
closed at UI issue meeting

[2016-06-13 02:35] #78 closed

[2016-06-13 02:40] linzbjones commented on #61
closed at UI issue meeting.

[2016-06-13 02:40] #61 closed

[2016-06-16 05:25] billgeo opened #87 "Estimate effort for high priority issues"
@SPlanzer, am adding these effort labels. If you are in on Friday can you review please?

Roughly use this as a guideline, but don't get too caught up in trying to make it accurate.

small = < 2 hours
medium = 2 - 8 hours
large = > 8 hours

[2016-06-16 21:34] billgeo commented on #18
As discussed can get this out for v1.0 release on Monday evening.

[2016-06-16 21:37] SPlanzer commented on #87
On Tuesday @Deb-Jones , @linzbjones  and I went over all open issue in this repo and reassessed these.

Acting on this ticket only three issues that are of milestone 1.0 were without effort labels. All of these are with deb to retest and have now been  given  "effort/small"

[2016-06-17 01:45] #87 closed

[2016-06-18 08:35] billgeo opened #88 "Is this part of the download_admin_bdys tool?"
Hi @josephramsay, just saw this SQL dir in AIMS plugin repo. What is this for? Looks like admin boundary stuff?

https://github.com/linz/QGIS-AIMS-Plugin/tree/master/sql

[2016-06-21 21:27] SPlanzer commented on #18
Please Retest in 8.10

[2016-06-21 21:42] SPlanzer opened #92 "Temporary Features not labelled"
When a users successfully accepts a changefeed item the UI creates a temporary published feature item based on the API response. There is no full address number label in this response.

Currently the layer employs the Qgis Label Builder to compile a full number label from individual components. However this is failing when Qvariants Null Values are mapped to the layer.

There are several options t

[2016-06-21 21:50] SPlanzer opened #93 "Test creating a new user"
Create a new user from start to finish.

* Add the user to the tomcat config
* Add the user to AIMS Via the API
* Ensure the user has an AD login and is assigned to the AIMS reader Role

Document

[2016-06-22 01:16] rgabara commented on #93
TWG: Subtask: Ben to add this test to the UAT test plan

[2016-06-22 01:19] rgabara commented on #59
TWG: @shane-turk-espatial , can you please update the status of this and assign to Deb for test if complete and deployed.

[2016-06-22 01:41] Deb-Jones commented on #18
Tested 0.8.10. PASS.

[2016-06-22 01:41] #18 closed

[2016-06-22 01:46] shane-turk-espatial commented on #59
ready for testing.

Example 1 returns:
54;"AddressableobjectID was calculated as the externalID was not supplied";"AIMS: V0027"
34;"Suburb/Locality Name has been changed";"AIMS: V0008"

Example 2 returns:
54;"AddressableobjectID was calculated as the externalID was not supplied";"AIMS: V0027"

Example 3 returns:
54;"AddressableobjectID was calculated as the externalID was not supplied";"AIMS: V002

[2016-06-22 02:03] e-spatial opened #94 "Change QGIS Test User Account"
Change the user account being used for QGIS testing to prevent conflict with the test.administrator user as this user is used by the integration test harness and prevents test data being successfully removed by the test harness once tests are completed.

[2016-06-22 02:47] billgeo opened #95 "Tighten up security and authentication"
Would be good to tighten up security and authentication if possible. e.g. not store plain text passwords in users credential stores and at least use hashed passwords. Leave this as a low priority for now until full security risk review has been done.

[2016-06-22 03:25] josephramsay commented on #88
Nope, its from an old pull before the new dab branch. check SP's repo for latest UI

[2016-06-22 03:25] #88 closed

[2016-06-22 03:46] Deb-Jones commented on #64
Not getting dropped. Will reopen if it reoccurs but at the moment I consider it resolved.

[2016-06-22 03:46] #64 closed

[2016-06-22 03:48] Deb-Jones commented on #54
Tested 22/6/16.
Roads are in the same place as address points and parcels.

[2016-06-22 03:48] #54 closed

[2016-06-22 03:50] Deb-Jones commented on #55
Roads, address points, parcels, meshblocks, localities all in the same place.

towncity is not being populated.

[2016-06-22 03:55] billgeo commented on #55
@shane-turk-espatial is this a bug? Or is there no town/city data in the chathams?

[2016-06-22 04:00] Deb-Jones commented on #79
Tested in 0.8.10.

Traceback (most recent call last):
  File "D:/Users/djjones/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ReviewQueueWidget.py", line 215, in featureSelected
    self.uQueueEditor.currentFeatureToUi(self.currentReviewFeature())
  File "D:/Users/djjones/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\QueueEditorWidget.py", line 80, in currentFeatureToUi
    UiUtility.featureT

[2016-06-22 04:07] SPlanzer commented on #94
I have setup user logins for all testers. I will tell those who have in the past used test.administrator (@Deb-Jones, @josephramsay) to switch to the new logins.

Closed

[2016-06-22 04:07] #94 closed

[2016-06-22 04:08] SPlanzer opened #96 "Document the creation of new users logins"

[2016-06-22 04:10] SPlanzer commented on #93
Passed and Closed

Will document the process for creating a new user. An issue/task has been created to track this (#96)

[2016-06-22 04:10] #93 closed

[2016-06-22 04:16] Deb-Jones commented on #80
Tested.

The appellation is now passed to the API from the UI.

[2016-06-22 04:18] Deb-Jones commented on #80
The appellation is being saved in the change_addressable_object table, but it isn't being bought back into the UI. So it's not there for the move, meaning that it gets deleted by any edit. It's also not there in the feature layer when you infotool it.

Is it not available in the API (meaning that I should raise an API issue), or is the UI just not pulling it in?

[2016-06-22 04:24] shane-turk-espatial commented on #55
checking the data

[2016-06-22 04:28] shane-turk-espatial commented on #55
There is only suburb_4th data populated for chatham island.  The data has been correctly populated with only chatham island.

select \* from aims_stage.address_publish
where suburblocalityid = 8673

[2016-06-22 06:31] billgeo commented on #55
So what Deb is seeing is expected behaviour? Will this cause any problems elsewhere in the system?

[2016-06-22 06:31] billgeo commented on #55
Closing this issue

[2016-06-22 06:31] #55 closed

[2016-06-22 21:49] SPlanzer commented on #96
moved to [#15](https://github.com/linz/AIMS-tasks/issues/15)

[2016-06-22 21:49] #96 closed

[2016-06-22 22:50] #82 closed

[2016-06-22 23:29] Deb-Jones commented on #80
Problem 1 - I'll create a new issue in the AIMS repository because this is a DB/API issue.

For existing addresses with an appellation:
Appellation is recorded in aims_stage.change_addressable_object
![image](https://cloud.githubusercontent.com/assets/15723101/16287022/5cd79ce8-3934-11e6-80cd-c62a9f4d953e.png)
Appellation is not a field in the aims_stage.address_publish table.

http://tstassgeo02.

[2016-06-23 00:05] Deb-Jones commented on #59
Tested 23/6/16
1. If I attempt to add a water route address I get a pop-up error in the UI stating: WaterName must be provided.
2. If I attempt to edit a water route address Water Route Name is not populated, RCL_Id is populated. Water Name is populated.The feature layer does contain the water route name.
   I get a pop-up error in the UI stating: Please Supply a Water Route Name.
3. If I attempt

[2016-06-23 00:23] Deb-Jones commented on #56
Will add a test to my test plan to check that I can move an individual address on a reference data update resolution queue.

[2016-06-23 00:23] #56 closed

[2016-06-23 02:04] SPlanzer opened #97 "When tool use is aborted and a new tool selected, un-highlight feature"
If the users makes a selection with the update tool and then with out using the abort button on the form selects the move tool the feature selected of update stays highlighted.

[2016-06-23 02:07] SPlanzer commented on #79
Please retest on 0.8.11

[2016-06-23 02:22] SPlanzer commented on #80
Typo in changefeed update template for appellation

Resolved, Please retest in 0.8.11

[2016-06-23 03:48] SPlanzer opened #98 "Moving water features fails"
issue split from #59

If I attempt to move a water route address I get a yellow band error in the UI stating: Incomplete Response: Layer data may not be complete.

[2016-06-23 03:49] SPlanzer commented on #98
Please retest in 0.8.11

[2016-06-23 03:50] SPlanzer opened #99 "Editng water features fails"
issue split from #59

If I attempt to edit a water route address Water Route Name is not populated, RCL_Id is populated. Water Name is populated.The feature layer does contain the water route name.
I get a pop-up error in the UI stating: Please Supply a Water Route Name.

[2016-06-23 03:52] SPlanzer commented on #99
Water Route Name is now consistently populated - This can be retested in 0.8.11

[2016-06-23 04:02] SPlanzer opened #100 "Water Name is a required API field"
issue split from #59

If I attempt to add a water route address I get a pop-up error in the UI stating: WaterName must be provided.

[2016-06-23 04:03] SPlanzer commented on #59
I have numbered the above and split into three issues

Please see
1. is not #100 (question)
2. is now #99 (ready for retest)
3. is now #98 (ready for retest)

[2016-06-23 04:17] SPlanzer commented on #100
As I understand it the "waterName" is calculated by the API.

If this is correct an issue must be opened against the API/DB to remove the validation rule that requires this property/value to be supplied to the API

If my understanding is correct should the "waterName" even be in new / editing feature forms? or will the user at times override the API calculated waterName?

[2016-06-23 04:19] SPlanzer commented on #59
Hi @Deb-Jones, I have split this issue here into several smaller issues.

I feel this can be closed. Please close this if you are satisfied the new issues cover what is captured here.

[2016-06-23 04:22] SPlanzer opened #101 "If the user hits the load plugin button a second time the AIMS layer is loaded again"
Other layers have a method to ensure if the user tries to load the plugin once it has been loaded the layer will only be loaded again if the user has removed it.

This needs to be added to the features layer loading.

[2016-06-23 20:12] e-spatial commented on #80
The appellation field should be in the resolutionfeed, test https://github.com/linz/AIMS/blob/master/src/integration-test/test-cases/api/20_address/10_add_road_allfields/08-resolutionfeed-Get-OK.txt checks this.   It's here for the reviewer to see all information provided by the submitter.  We can re-test this if required.

Re-Problem 1 -
a). The appellation is not in the address_publish table as

[2016-06-23 21:24] e-spatial commented on #100
I'll check into this too

[2016-06-23 22:16] Deb-Jones commented on #100
For address add the current functionality is acceptable.

Users will have to enter free text the water name associated to the water route. This should be reviewed in 1.1 along with the requirements around water name vs locality.

[2016-06-23 22:16] #100 closed

[2016-06-23 22:17] #59 closed

[2016-06-23 22:34] SPlanzer commented on #101
Resloved

[2016-06-23 22:34] #101 closed

[2016-06-23 22:49] SPlanzer commented on #97
Resolved.

Colours also changed. All were red, this created confusion between review and editing items.

Review (table selection) is now red, all map selections for editing = green - @Deb-Jones this may be of interest to you

[2016-06-23 22:49] #97 closed

[2016-06-24 02:13] Deb-Jones opened #103 "External Address Id Scheme not being passed to API"
The Ext Address Id Scheme is not being passed to the API on an add address.

[2016-06-24 02:21] Deb-Jones opened #104 "External Object Id Scheme not passed to API"
The ext Object Id Scheme is not passed to the API on an address add.

[2016-06-24 02:35] Deb-Jones commented on #104
We have a field in the UI for External Object Id and Ext Object Id Scheme.

External Object Id is actually the Addressable Object Id, i.e. the parcel ID. It doesn't matter what we enter in the UI, it is overwritten with the point-in-polygon parcel ID.

If you select Object Type Building, you get an error stating:
• AddressPosition is mandatory for a Building AddressableObject
• AddressableObjectID

[2016-06-24 02:55] SPlanzer commented on #103
Please retest in 0.8.11

[2016-06-24 02:59] linzbjones commented on #104
Discussed and solved

[2016-06-24 02:59] #104 closed

[2016-06-24 04:22] Deb-Jones opened #105 "Move Stacked Address"
When I select to move an address out of a stack, regardless of which address I select from the Select feature to update form, the first feature is moved.

If I select more than one address from the stack, it tries to move the first address multiple times.

[2016-06-26 21:42] SPlanzer commented on #105
Please retest in 0.8.11

[2016-06-26 22:53] Deb-Jones opened #106 "Remove Base during QA Review"
If I remove the base number during QA review I get a yellow message:  Incomplete Response: Layer data may not be complete.

Correct functionality would be to get a pop up stating "Please supply a Complete Address Number". I get this pop up if I delete the base number from the Edit Feature form during Update AIMS Feature.

[2016-06-26 23:05] Deb-Jones opened #107 "Requirements for Bulk Loads"
One of the validation rules provides an INFO when the API returns a different road name component than was supplied to it. i.e. if the user enters an alias road name and the primary road name is returned.

There is no change detection to see before vs after. When we are entering data this is fine. But when we start processing bulk address udpates, how will we know what changed?

We need a session

[2016-06-26 23:13] Deb-Jones opened #108 "Road Name Components should be non-editable on a modify"
The road name components should be non-editable through the UI on a modify. This is because the value in the rcl_id will be used by the API and any changes entered into the road name component fields will be ignored. It is misleading to allow them to be edited.

This was discussed earlier in development but not documented at that time.

[2016-06-26 23:14] SPlanzer opened #109 "Update labels colours to match their points"
Current label and point thematics do not directly corresponded.

While this is being improved also add buffers to labels to improve visibility when imagery is enabled

[2016-06-26 23:20] dwsilk commented on #95
Security risk assessment workshop on 06/07/2016

[2016-06-27 00:10] Deb-Jones commented on #108
Also, Water Route name should be non-editable on a modify and a modify during QA.

All road name components should be non-editable for a modify during QA.

[2016-06-27 00:53] Deb-Jones opened #110 "RCL Id should be non-editable during QA edit"
During QA edit, it is possible to overtype the RCL Id. This should be non-editable like it is in the Edit Feature form.

[2016-06-27 00:56] Deb-Jones opened #111 "Notes are not editable during QA modify"
The notes field is read only during QA. Do we want this to be editable?

[2016-06-27 01:15] Deb-Jones opened #112 "Python Error returned when trying to edit a retire address"
There is a requirement that we cannot edit a retired address.

If I try to edit an address in the review queue that has a change type of Retire, I get a python error.

Traceback (most recent call last):
  File "D:/Users/djjones/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ReviewQueueWidget.py", line 307, in updateFeature
    UiUtility.formToObj(self)
  File "D:/Users/djjones/.qgis2/python/plug

[2016-06-27 02:19] Deb-Jones opened #113 "Error not generated when object type is updated in QA edit mode."
When the Object Type is changed from Parcel to Building in QA edit mode, the AddressableObjectID can't be assigned using the spatial Address object error is not generated. The address change can be accepted and the address is published with an object type of building.

The address can then not be moved or edited because at the point that you move or edit it you get the AddressableObjectID can't be

[2016-06-27 02:48] Deb-Jones opened #114 "Modify Address - High not being recorded."
When I modify an address and add a high number, it does not appear on the review queue.
When I modify an address in QA and add a high number, it does appear.

@SPlanzer can you please check whether this is a UI or an API/DB issue?

[2016-06-27 04:21] SPlanzer commented on #113
Hi @Deb-Jones, More information below. I am handing this one back to you. As you can see below when submitting an update to the changefeed the response is a Error. However when submitting the update to the resolutionfeed the API does not return a error and update to the objectType property is performed.

It seems to me we can either:
- Alter the API to return a Error
- Alter the UI to disallow thi

[2016-06-27 04:45] SPlanzer commented on #114
class factory template (update) has now had "addressNumberHigh":None added

Please retest in 0.8.11

[2016-06-27 20:50] SPlanzer commented on #106
Modular validation added. Both Edit and Review forms are now using this same validation code set.

The logic for form completeness / validation is as below:
- An New Feature must have the below:
  - Road Features - the Base Number and Road Name must be populated
  - Water Features - Base number, Water Route and Water name must be populated
- updates to Exiting AIMS Features and Review Items:
  - R

[2016-06-27 21:15] Deb-Jones commented on #113
Replaced by https://github.com/linz/AIMS/issues/123

[2016-06-27 21:15] #113 closed

[2016-06-27 21:44] Deb-Jones opened #115 "Hide Appellation, Certificate of Title and Valuation Ref"
Hide Appellation, Certificate of Title and Valuation Ref from the feature form and the edit QA form.

https://github.com/linz/AIMS/issues/114
The API/DB has not been built for this function and has been deferred to milestone 1.1.

[2016-06-27 21:48] Deb-Jones commented on #114
Closed pending testing

[2016-06-27 21:48] #114 closed

[2016-06-27 21:48] Deb-Jones commented on #105
Closed pending testing

[2016-06-27 21:48] #105 closed

[2016-06-27 21:48] Deb-Jones commented on #103
Closed pending testing

[2016-06-27 21:48] #103 closed

[2016-06-27 21:48] Deb-Jones commented on #99
Closed pending testing

[2016-06-27 21:48] #99 closed

[2016-06-27 21:49] Deb-Jones commented on #98
Closed pending testing

[2016-06-27 21:49] #98 closed

[2016-06-27 21:50] Deb-Jones commented on #80
Unable to test because issue https://github.com/linz/QGIS-AIMS-Plugin/issues/115 will remove appellation from the UI.

[2016-06-27 21:50] #80 closed

[2016-06-27 21:50] Deb-Jones commented on #79
Closed pending testing

[2016-06-27 21:50] #79 closed

[2016-06-28 01:37] SPlanzer commented on #115
Appellation, Certificate of Title and Valuation Ref inputs and labels now have had a .hide() executed against them

Please review in 0.8.11

[2016-06-28 01:39] SPlanzer commented on #110
OK, Done

Please review in 0.8.11

[2016-06-28 01:40] #115 closed

[2016-06-28 01:40] #106 closed

[2016-06-28 02:05] Deb-Jones opened #116 "Appellation Search"
We can use the Intramaps plug in to search on LINZ Maps appellations, but the search is variable in it's speed and the search jumps about a bit due to fuzzy logic.

It would be nice to have a search on appellation that works as well as the roads plug in searches and base the search on the same parcels as are being displayed in the UI.

[2016-06-28 02:52] Deb-Jones opened #117 "Import CSV"
We are planning on using the standard QGIS add delimited text layer tool.

This tool does not give you the option to convert geometry. You can only select which field holds the x value and which field holds the y value.

Most of our files are received in EPSG:2193 but we're working in EPSG:4167.

To import a csv, you need to convert the geometries to 4167 first.

[2016-06-28 04:07] dwsilk commented on #117
1. Add layer to QGIS using Add Delimited Text Layer tool
2. Right click layer > Set Layer CRS. Set it to the source CRS, e.g. EPSG:2193.
3. Right click layer > Save as shapefile using EPSG:2193.
4. Right click new layer > Save as shapefile using EPSG:4167.

I think that is how you do it. Maybe Step 3 can be skipped, I don't have a CSV on hand to test with.

[2016-06-28 04:11] SPlanzer commented on #108
Please retest in 0.8.11

[2016-06-28 04:11] SPlanzer commented on #108
Please retest in 0.8.11

[2016-06-28 04:11] #108 closed

[2016-06-28 04:39] SPlanzer commented on #112
Please retest in 0.8.11

[2016-06-28 04:39] #112 closed

[2016-06-28 22:17] SPlanzer opened #118 "Disable Comboboxes for retired features on review"

[2016-06-28 22:19] SPlanzer commented on #112
The Update Button returns a message indicating that retire features can not be updated, All QlineEdits are disabled BUT comboBoxs are still enabled for retired. I need to look in to this further.

I have created a separate enhancement for this (#118) as the update button returning an error and stopping the update progressing resolves this at a bug level

[2016-06-28 23:24] SPlanzer opened #120 "Temp objects throwing tracbacks when reviewed"
Not consistent. Will explore more and add further detail

[2016-06-29 00:01] Deb-Jones commented on #117
I've attached an example CSV.

[WCC20160620.txt](https://github.com/linz/QGIS-AIMS-Plugin/files/338281/WCC20160620.txt)

[2016-06-29 00:21] dwsilk commented on #117
1. Change Project CRS to source CRS of CSV
2. Add layer to QGIS using Add Delimited Text Layer tool
3. Change Project CRS back to EPSG:4167

..seems to work.

[2016-06-29 00:26] dwsilk commented on #117
But maybe there is a better way. Under Settings > Options > CRS, change the `CRS for new layers` setting to `Prompt for CRS`.

Then you can provide the source CRS after using the Add Delimited Text Layer tool.

[2016-06-29 00:30] #117 closed

[2016-06-29 00:38] Deb-Jones opened #121 "Edit Water Address in QA Failing Yellow Banner Error"
Edit a water address, it appears on the review queue.
Edit a different value on the review queue and select Update.

Yellow banner error produced.

![image](https://cloud.githubusercontent.com/assets/15723101/16436895/fcb0fe42-3df5-11e6-81e2-e94139d8e6d9.png)

[2016-06-29 00:40] Deb-Jones commented on #99
Original error remedied. New error recorded on https://github.com/linz/QGIS-AIMS-Plugin/issues/121

[2016-06-29 00:46] Deb-Jones commented on #98
Tested, passed.

[2016-06-29 00:47] Deb-Jones commented on #79
Passed.

[2016-06-29 00:54] Deb-Jones commented on #103
Passed.

[2016-06-29 00:57] Deb-Jones commented on #105
tested, passed

[2016-06-29 00:59] Deb-Jones commented on #106
Tested, passed.

[2016-06-29 01:00] SPlanzer commented on #121
No Water features would have been update-able at review. Change to Feature Factory template has resolved this

Please retest in 0.8.12

[2016-06-29 01:02] Deb-Jones commented on #110
Tested, RCL Id is still editable.

[2016-06-29 01:03] #121 closed

[2016-06-29 01:06] Deb-Jones commented on #112
Passed test.

[2016-06-29 01:11] Deb-Jones commented on #114
tested, passed

[2016-06-29 01:12] Deb-Jones commented on #115
tested. passed.

[2016-06-29 01:14] Deb-Jones commented on #108
passed

[2016-06-29 01:14] SPlanzer commented on #110
This was resolved but I see with other conditions since added concerning field read/write it get over written.

I have talked with @Deb-Jones and since hardcoded for rclID to always be readonly

[2016-06-29 01:14] #110 closed

[2016-06-30 02:43] SPlanzer commented on #120
Resolved

[2016-06-30 02:43] #120 closed

[2016-06-30 21:39] Deb-Jones commented on #121
Tested, passed.

[2016-06-30 21:40] Deb-Jones commented on #110
Tested, passed.

[2016-07-06 02:12] Deb-Jones opened #123 "Parcels Missing from UI"
Since API/DB 1.0.1 was rolled out, parcels have disappeared from the UI.

[2016-07-06 02:26] Deb-Jones commented on #83
@billgeo

https://github.com/linz/AIMS/issues/98 now implemented and tested.

Will https://github.com/linz/AIMS/issues/99 be implemented, or should @SPlanzer hardcode the values into the UI?

Note, if Issue 99 is implemented Simon will still have to edit the UI because the API would be serving up data differently.

[2016-07-06 02:29] billgeo commented on #83
@Deb-Jones if it's a small piece of work for @SPlanzer to hardcode the extra ones in then I would suggest we are fine to do that for now.

[2016-07-06 02:30] billgeo commented on #83
@SPlanzer - if this is effort/small then proceed.

[2016-07-06 02:37] Deb-Jones opened #124 "Python Error when review queue empty"
When all items on the review queue are accepted, accepting the last item generates a python error and the item stays on the queue.

An error has occurred while executing Python code:

Traceback (most recent call last):
  File "D:/Users/djjones/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ReviewQueueWidget.py", line 216, in featureSelected
    self.uQueueEditor.currentFeatureToUi(self.currentRe

[2016-07-06 03:30] linzbjones commented on #123
TWG - 06/07/16 - @SPlanzer @dwsilk  review permissions

[2016-07-06 03:57] Deb-Jones commented on #123
Testing by bringing in the BDE parcels as a contextual layer.

[2016-07-06 21:29] Deb-Jones commented on #123
Can wait for @SPlanzer to come back to fix. Not stopping testing.

[2016-07-06 21:57] Deb-Jones opened #125 "Road Prefix Not Displaying in Review Queue"
Road Prefix is not displaying in the review queue.

It does appear in aims_stage.change_address.
After acceptance, it does appear in aims_stage.address_publish.
There is no error regarding prefix in aims_stage.change_validation.

In the resolution feed browser, it is visible:
 "roadPrefix":"Upper",
 "roadName":"Bartlett",
 "roadType":"Grove",

[2016-07-07 00:07] Deb-Jones opened #126 "Number splitter field does not recognise alpha numeric units"
Enter 1A/10

Should create Unit 1A, Base 10.
Individual components not populated.

Other combinations seem to work.

[2016-07-07 01:03] Deb-Jones opened #127 "Cannot see submitted road name when roadcentrelineid and full road name do not match."
If a user selects an RCL Id and types in the road name, but the road name associated with the RCL Id does not match the road name typed in, validation rule 16 is triggered:
"RoadCentreLineID and Full Road name do not match";"Warning"

The change appears on the change queue with the warning, but Road Name components are populated based on the details of the RCL Id.

You can't see the road name the

[2016-07-07 03:11] Deb-Jones opened #128 "External Address Id Field Limited to 9 numeric"
The External Address Id field is limited to 9 numbers in the UI Edit Feature Form (during add).

This value is passed to the aims_stage.change_address.externalid field, which is character varying(15). The UI field should allow alpha and numeric up to 15 characters.

[2016-07-07 04:42] billgeo commented on #127
Yep. To be reviewed when SImon is designing the bulk address functionality. If he treats bulk address updates as a series of single address updates this might not be a problem.

[2016-07-07 10:31] billgeo commented on #95
Spoke with It security and we should be at least hashing any passwords stored in user file, so let's do that as high priority and any further can be done later.

See this for more info https://docs.python.org/3/library/hashlib.html#hashlib.pbkdf2_hmac

[2016-07-07 22:58] josephramsay commented on #123
view permissions had been changed, should be fixed now

[2016-07-07 22:58] #123 closed

[2016-07-07 22:59] josephramsay commented on #95
password hashing has been implemented on dev, needs to be tested

[2016-07-07 23:00] josephramsay commented on #124
wrote bypass on null feature, @splanzer to package

[2016-07-10 18:46] Deb-Jones commented on #123
Fixed.

[2016-07-10 18:48] Deb-Jones commented on #95
@billgeo @josephramsay  how does this get tested?

[2016-07-10 21:32] billgeo commented on #95
If you can login successfully, you can consider it tested.

[2016-07-10 22:01] Deb-Jones opened #129 "Incorrect Warning Message - Meshblock Override"
When I enter a meshblock override of 5 digits, it should trigger validation rule 96: Meshblock for Override is not 7 characters, Warning.

I am getting a pop-up message, General Exception 500:

![image](https://cloud.githubusercontent.com/assets/15723101/16716360/57bc9be6-474e-11e6-9c0b-bc48b222f059.png)

[2016-07-10 22:05] Deb-Jones opened #130 "Error Message Closing Feature Form"
When I enter a meshblock override of 8 characters I get a pop up warning that Meshblock override should be 7 characters.

When I click OK, the feature form closes and I've lost the details I've entered for my address add.

[2016-07-10 22:08] Deb-Jones opened #131 "Incorrect Warning Message - Meshblock Override"
When I enter an invalid meshblock override of 7 digits, it should trigger validation rule 95: Meshblock for Override does not exist, Warning.

I am getting a pop-up message, General Exception 500:

![image](https://cloud.githubusercontent.com/assets/15723101/16716388/5d698918-474f-11e6-8bf3-0806e879bd43.png)

[2016-07-10 22:26] dcleggnz commented on #95
@billgeo The login working is a regression test that verifies the file is able to be used to login correctly. Can it also be verified someone has opened the hashed file and ensured the usernames and passwords held within are not human readable ie the hash worked?

[2016-07-10 22:54] Deb-Jones commented on #129
Was a problem with permissions to the Localities table preventing all adds. Now resolved.

[2016-07-10 22:54] #129 closed

[2016-07-10 22:57] Deb-Jones commented on #131
Was a problem with permissions to the Localities table preventing all adds. Now resolved.

[2016-07-10 22:57] #131 closed

[2016-07-10 23:08] ghost commented on #95
Can be done manually. Since tomcat-users (where the hashed pwds are stored) is owned by the tomcat user, scripting a test to read this potentially adds another layer of insecurity

[2016-07-11 00:06] billgeo commented on #95
@josephramsay - This issue was for the QGIS plugin or application to not store plain text passwords. I believe they were caching passwords so users wouldn't need to enter it everytime? The tomcat task is covered in the another issue.

Can someone confirm that QGIS password cache is hashed?

[2016-07-11 00:45] billgeo opened #132 "Error installing plugin on QGIS 2.1"
Got 0.8.2 version of plugin from here http://\<dev_server\>:8080/quercus-4.0.39/plugin_xml.php

When installing my linux version of QGIS 2.1 I get the error below.

Whats the recommended version of QGIS as a temp workaround?

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/qgis/utils.py", line 219, in startPlugin
    plugins[packageName] = package.classFactory(iface)

[2016-07-11 00:57] ghost commented on #95
They're the same issue, we can't do one without the other.
On dev server side passwords are hashed. In the dev cache, any logins prior to the changeover probably won't be. Unless the server has been restarted. On the client, when the plugin gets reloaded any old pwds should get flushed. Awaiting testing

[2016-07-11 01:29] SPlanzer opened #133 "Deploy API/Database to Dev"
Ideally the Database / API would be deployed to DEV to allow development to proceed without disrupting testing.

For example: Deb has opened an issue (#124) whereby the implemented fix needs to be tested against an empty queue. Removing all data from the queue to test this may disrupt UAT

[2016-07-11 01:37] SPlanzer commented on #124
Please tested in 0.8.13

[2016-07-11 01:37] #124 closed

[2016-07-11 02:35] ghost commented on #132
This looks like it might be an older version of the plugin. UserActionType is a placeholder enumeration for when we implement a User Admin interface. It exists in newer versions of the AimsUtility module but maybe not in the plugin repo on dev?

[2016-07-11 03:10] billgeo commented on #95
Okay, this can be closed here if nothing for qgis plug in to do.

[2016-07-11 03:43] Deb-Jones opened #134 "Water Name needs to be editable on an update"
If the user changes a road address to be a water address, there will be no value in the water name. So when they submit the change, they will get an error saying that the water name is required.

For Update and Update in QA the water name needs to be editable.

This problem was caused because I requested the road name fields to be non-editable on updates.

[2016-07-11 03:45] Deb-Jones opened #135 "Review Queue Selection"
When a user filters on their changes only, after accepting a change, the selection moves to the next item on the queue even if it's not their item. So the top panel shows nothing selected, the middle panel shows the next items details (not theirs).

This is a low priority issue.

[2016-07-11 04:31] billgeo commented on #95
AS discussed @SPlanzer, please look into using Windows/Linux Keyrings or user env. variables or similar to avoid using passwords stored in plaintext.

[2016-07-11 20:27] SPlanzer opened #136 "Improve new feature form dynamic-ness"
The Warning and Notes boxes are not resizing as expected

[2016-07-11 20:31] SPlanzer commented on #134
water name now editable on all updates

[2016-07-11 20:32] #134 closed

[2016-07-11 20:35] SPlanzer commented on #128
Please retest in 0.8.13

[2016-07-11 20:35] #128 closed

[2016-07-11 21:21] SPlanzer commented on #130
Resolved by limiting input to max length 7

Also limited to integers only

[2016-07-11 21:21] #130 closed

[2016-07-11 21:22] SPlanzer commented on #125
Resolved.  Please retest in 0.8.13

[2016-07-11 21:22] #125 closed

[2016-07-11 21:28] Deb-Jones commented on #135
Causing users confusion. Would be good to fix before go live if we can.

[2016-07-11 21:49] SPlanzer commented on #83
Combobox now includes exclusively the below:

'Unknown',
'Building centroid',
'Parcel centroid',
'Building access point',
'Frontage centre setback',
'Driveway frontage'

[2016-07-11 22:11] Deb-Jones commented on #83
Sorry Simon, I didn't update this issue with changes made on the database issue. Values should include:

[addresspositiontype.txt](https://github.com/linz/QGIS-AIMS-Plugin/files/358178/addresspositiontype.txt)

[2016-07-11 22:28] SPlanzer commented on #83
Updated to include a subset of the addresspositiontype.txt contents as discussed with @Deb-Jones

'Unknown', 'Property Centroid', 'Unit Centroid', 'Frontage Centre Set Back', 'Building Centroid',
                                     'Property Access Point Set Back', 'Building Access Point', 'Front Door Access'

[2016-07-11 22:28] #83 closed

[2016-07-11 22:32] SPlanzer commented on #126
Fixed as to split above example.

It is expected however some edge cases may not be split and the user will need to populated the individual components by hand

Please test in 0.8.13

[2016-07-11 22:32] #126 closed

[2016-07-11 23:07] SPlanzer commented on #95
Plan to user the users AD password by getting this via the python getpass library.

When the user 'Digests' their password and it is added to the tomcat-users.xml they would enter their AD password.

The down side to this however is that rather than the user having to find someone to su onto to the app server once to digest and update their password, this would have to be updated in the tomcat-use

[2016-07-11 23:15] Deb-Jones commented on #46
You are able to enter punctuation in the QA Update form. When you accept, this is then published in the address publish table.

select changeid, unitvalue, levelvalue, addressnumbersuffix, fulladdressnumber
from aims_stage.change_address
where changeid = 2805089

2805089;"#$";"!@-";"%^";"#$/24%^"

select changeid, unitvalue, levelvalue, addressnumbersuffix, fulladdressnumber
from aims_stage.addres

[2016-07-12 00:13] linzbjones commented on #111
@Deb-Jones i think we should be able to edit them. This way if we change address details in the review queue  we will have a record why. Is this only a UI change?

[2016-07-12 02:11] josephramsay commented on #95
Wrapped an AES cipher around the config file so pwd isn't saved as plaintext but recovery is trivial
user(text) -> config.enc(###) -> config.dec(text) -> HTTP -> md5.hash(text) -> tomcat.auth(###)

[2016-07-12 03:50] Deb-Jones opened #137 "Python Error"
This error occurred on Jason's PC earlier today. It wasn't repeatable.

I was just updating a meshblock override on the QA Update.

An error has occurred while executing Python code:

Traceback (most recent call last):
  File "D:/Users/djjones/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ReviewQueueWidget.py", line 316, in updateFeature
    self.uidm.repairAddress(self.feature, respId)
  File

[2016-07-12 05:26] billgeo opened #138 "Accepting a reference data group review tab job does nothing"
See attached. Hitting the 'Accept' button does nothing. Might be user error.
Need to clear this queue item to run the reference data UAT tests.

![screenshot from 2016-07-12 17 24 20](https://cloud.githubusercontent.com/assets/8991188/16755974/c464f7ae-4855-11e6-81c3-4a52ec6c96e7.png)

[2016-07-12 20:50] billgeo commented on #95
Hi @josephramsay, two questions  as I need to run this past IT security.
- [ ] Can you set the key length to 256?
- [ ] Where is the key stored? In the plugin code?

[2016-07-12 21:03] billgeo commented on #132
@SPlanzer as discussed please update README and plugin repository setting to reflect which version of QGIS is needed. 2.8+?

[2016-07-12 21:15] ghost commented on #95
This is just the illusion of security but it does save us from having to store the user password in plaintext in the config file. Key length doesn't matter (FYI its 32 and no, that's the longest) because its a cipher not encryption and we're not doing two party encryption with pre-distributed keys. We're using a predefined key in the code and a IV (salt) using the system username and some padding.

[2016-07-12 21:16] ghost commented on #95
@splanzer don't worry about a user dialog, we can detect a non ciphered password and convert those as needed

[2016-07-12 22:09] billgeo commented on #95
Have let IT security know. So closing for now.

[2016-07-12 22:10] #95 closed

[2016-07-12 22:21] SPlanzer commented on #138
Fixed on UI end.

Waiting for [#146](https://github.com/linz/AIMS/issues/146) to test

[2016-07-12 22:22] billgeo opened #139 "Create wiki page or similar for test approach/coverage"
As per [AIMS repo](https://github.com/linz/AIMS/wiki/Test-Coverage), can you please document (automatically if possible) what testing is and isn't being done for this repo and what coverage there is. This doesn't have to be to to the nth degree, but someone like me should be able to read it and determine how much of the system is being tested.

[2016-07-13 00:29] SPlanzer commented on #132
read me updated to indicate QGIS 2.6+ is required

[2016-07-13 00:29] #132 closed

[2016-07-13 00:41] SPlanzer commented on #46
unit value, level value, num prefix,  base num, num suffix and num high now all have restricted input (\w)

Please test and advise of any other fields that may require further masking.

[2016-07-13 00:43] SPlanzer commented on #137
FYI @jrlinz

[2016-07-13 01:08] SPlanzer commented on #92
Please retest in 0.8.13

[2016-07-13 01:08] #92 closed

[2016-07-13 02:01] SPlanzer commented on #109
awaiting @Deb-Jones approval

[2016-07-13 02:01] #109 closed

[2016-07-13 03:04] Deb-Jones opened #140 "Warnings and Infos on Reference Data Updates do not display on review queue"
When a reference data update creates warnings or infos, the addresses display on the review queue, but the warning or info does not display.

[2016-07-13 03:37] billgeo commented on #133
TWG: @josephramsay can you please do this today so Shane and other can use for bug triage.

[2016-07-13 03:49] Deb-Jones opened #141 "Unable to link address to an addressable object it doesn't sit within"
Test:

![image](https://cloud.githubusercontent.com/assets/15723101/16791127/f11da8c6-490f-11e6-8d0e-6a2d053dc24d.png)

5 Zion Way is in parcelid 4285727, addressableobjectid 1115135.
7 Zion Way is in parcelid 4434062, addressableobjectid 2479989.

I created 5A Zion Way in parcelid 4285727, but entered 2479989 into the Ext. Obj Id.

It was published as:
5A Zion Way is in parcelid 4285727, addressa

[2016-07-13 03:49] SPlanzer commented on #140
Please retest in 0.8.13

[2016-07-13 03:49] #140 closed

[2016-07-13 03:54] josephramsay commented on #133
Nope. Last deploy took 6 hours. On a non-cleaned database it will take longer. I certainly won't be able to do it without @shane-turk-espatial overseeing. Will start tomorrow

[2016-07-13 03:58] shane-turk-espatial commented on #133
I have yet to go through the TST environment to create UTIL scripts to delete roles and users etc.

[2016-07-13 04:12] Deb-Jones commented on #111
@e-spatial Can the API and database (with current functionality) handle the source notes being updated during QA edit?

[2016-07-13 04:23] josephramsay commented on #133
users/roles and permissions differ between tst1 and dev1

[2016-07-13 04:43] e-spatial commented on #111
@david1jewell - can you advise pls....

[2016-07-13 05:34] billgeo commented on #133
As discussed, can @SPlanzer have a crack at this tomorrow with support from @josephramsay.

[2016-07-13 07:39] dwsilk commented on #133
I missed this issue. Seems like this includes data migration and if so, roads still need to be deployed first.

Is there a faster option to keep tst and dev in sync e.g. pg_dump from tst / restore to dev after each migration. Could we do a pg_dump / restore now to solve Simon's issue? I realise API is separate but can that be reinstalled independent of a full deployment?

[2016-07-13 20:53] david1jewell commented on #111
workflow.statusNotes is updateable on the ResolutionFeed by the Reviewer during review (queueStatus = Submitted, Under Review).
Example: aims\src\integration-test\test-cases\api\20_address\10_add_road_allfields\06-resolutionfeed-Update-OK-NoWarnings.txt

There are no update actions available on the ChangeFeed for the Publisher.
It would be possible to create a new action to allow the Publisher to

[2016-07-13 23:48] Deb-Jones opened #142 "Unable to display individual addresses for a group change"
When I click the display button for an address that is part of a group change I get a python error.

An error has occurred while executing Python code:

Traceback (most recent call last):
  File "D:/Users/djjones/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ReviewQueueWidget.py", line 364, in display
    coords = self.uidm.reviewItemCoords(self.currentGroup, self.currentFeatureKey)
  File "D:\

[2016-07-13 23:50] Deb-Jones commented on #111
I will defer this to milestone 1.1 (i.e. post-go-live) because it involves an API change and is not essential for go-live.

[2016-07-13 23:53] Deb-Jones commented on #141
I will defer this to milestone 1.1 (i.e. post-go-live) because we need this change in order to test functionality that should have been delivered in the API/DB, but we won't be using this function at go-live.
There are further details to be considered. The details encountered with meshblock override are an indication of the type of details to be worked through.

[2016-07-14 04:32] SPlanzer commented on #135
Please Retest in 0.8.13

[2016-07-14 20:40] SPlanzer commented on #142
This was being raised due to another bug. Please retest in 0.8.13

[2016-07-17 21:57] SPlanzer opened #146 "Highlighting persists"
Highlighting persists for a review feature once the feature has been declined.

The resolution highlighting in the highlight class must be called.

[2016-07-18 03:36] #146 closed

[2016-07-18 04:20] josephramsay commented on #137
Nothing there should be throwing a IOError. But, its a debug print statement so I've just removed it.

[2016-07-18 04:20] #137 closed

[2016-07-19 22:35] SPlanzer opened #148 "DM methods to pull down admin entities"
Methods required to pull down all entities form ~/aims/api/admin/users. This user data is to be shown in the UserAdmin UI.

This is low priority

[2016-07-20 02:23] SPlanzer commented on #139
Created a test coverage [page](https://github.com/linz/QGIS-AIMS-Plugin/wiki/Test-Coverage) similar to ES. The focus is on UAT

[2016-07-20 02:23] #139 closed

[2016-07-20 21:59] Deb-Jones commented on #138
Closed pending testing

[2016-07-20 21:59] #138 closed

[2016-07-21 21:37] SPlanzer opened #150 "Appellation is populated but does not update when its spatial relationship between feature and parcel changes"
This is related to the [114 fix](https://github.com/linz/AIMS/issues/114)

It seems in the recent data migration all AIMS features have had an appellation populated that represents the AIMS feature to parcel relationship.

This is also true for the Addressable Object Id that is populate with the parcel ID.

When a AIMS Feature is moved the Addressable Object Id (the parcel Id) is recalculated. Thi

[2016-07-21 21:41] SPlanzer commented on #150
I have made this a question, added many (Assignees) and I am looking for comment

[2016-07-21 22:07] Deb-Jones commented on #46
Tested 0.8.16. Not fixed.

Base - allows - +
High - allows - +
Unit Value - allows _
Level Value - allows _
Address Prefix - allows _
Alpha - pass

[2016-07-21 23:16] Deb-Jones commented on #83
Tested 0.8.16 Passed

[2016-07-21 23:25] Deb-Jones opened #151 "Slow Performance due to BDE"
The server is running at 90% when I'm not doing anything.

I have QGIS and PgAdmin open, but I'm not running any queries and I'm not doing anything in QGIS. (i.e. not even panning the map).

When I do start making edits to addresses responses are extremely slow and I'm regularly getting a time out problem or a data refresh problem.

The BDE is running on the server.

This means that I can't test b

[2016-07-22 01:10] linzbjones commented on #151
@SPlanzer Is there anyone that can stop the BDE from running so Deb can test?

[2016-07-22 01:13] linzbjones commented on #150
@e-spatial @SPlanzer @Deb-Jones can we please discuss this at the TWG meeting on Monday.

[2016-07-22 02:14] SPlanzer commented on #46
Interesting,

Base and High were being passed through a QIntValidator. Now QRegExp(r'[0-9])

Unit, Level and Address Prefix were limited to \w. Now  QRegExp(r'[0-9A-Za-z]')

[2016-07-22 02:14] #46 closed

[2016-07-22 03:39] palmerj commented on #151
@linzbjones I've stopped it, then restarted it to complete faster. Should be up-to-date by Saturday morning if the update works correctly.

[2016-07-22 05:51] palmerj commented on #151
linz_db database on tstassgeo01 is now up-to-date with BDE data. It should run as normal tomorrow and be available for testing from midday. Please re-open this issue if the problem persists. We should consider turning off the "Public LDS full BDE" update part of the process as this is not needed for AIMS, only LDS. This is dependant on the outcome of @SPlanzer question on  https://github.com/linz/

[2016-07-22 05:51] #151 closed

[2016-07-24 00:30] Deb-Jones commented on #92
Tested 0.8.16 Passed.

[2016-07-24 00:30] Deb-Jones commented on #109
Tested 0.8.16 Passed.

[2016-07-24 00:31] Deb-Jones commented on #126
Tested 0.8.16. Passed.

[2016-07-24 00:31] Deb-Jones commented on #128
Tested 0.8.16 Passed.

[2016-07-24 00:32] Deb-Jones commented on #130
Tested 0.8.16 Passed.

[2016-07-24 00:33] Deb-Jones commented on #134
Tested 0.8.16 Passed.

[2016-07-24 00:58] Deb-Jones commented on #150
We need a discussion about what these fields are for and how we expect them to perform. This includes:
External Address Id
Object Name
External Object Id
Valuation Reference
Certificate of Title
Appellation
We need to clarify the business requirement prior to the TWG meeting.

[2016-07-24 01:27] Deb-Jones commented on #36
Tested 0.8.16. Passed.

[2016-07-24 01:27] #36 closed

[2016-07-24 01:33] Deb-Jones commented on #27
It is no longer possible to see stacked addresses on the map.

![image](https://cloud.githubusercontent.com/assets/15723101/17081204/0ec879d2-51a3-11e6-8cc7-ea6a346116c5.png)

The example in the image above is 6 addresses stacked on top of each other. 20A to 20F.

[2016-07-24 02:05] Deb-Jones opened #152 "Accepting Multiple Changes"
Currently the user has to accept one change at a time. This is really slow. It would be good to be able to accept multiple changes.

[2016-07-24 02:44] Deb-Jones commented on #135
Tested 0.8.16. Not fixed.

[2016-07-24 20:54] SPlanzer commented on #27
Fixed Please re test

[2016-07-24 20:54] #27 closed

[2016-07-24 20:58] SPlanzer commented on #135
I can not reproduce.@Deb-Jones  Can you provide your work flow?

[2016-07-24 21:01] SPlanzer commented on #133
Done

[2016-07-24 21:01] #133 closed

[2016-07-25 00:43] SPlanzer commented on #135
Resolved

[2016-07-25 00:43] #135 closed

[2016-07-25 02:48] rgabara commented on #152
TWG - agree to move to 1.1 - don't want to add new functionality now - better to do individually than hang when multi addresses are edited.

[2016-07-25 02:53] rgabara commented on #150
TWG - need to understand this in detail. Workshop Deb, Simon, Ben, Shane and Pete- @linzbjones to arrange.

[2016-07-25 02:55] rgabara commented on #148
TWG - MS moved to 1.1

[2016-07-25 02:58] rgabara commented on #141
TWG - reassigned to Ben while Bill is off project

[2016-07-25 22:04] Deb-Jones commented on #150
Refer to https://github.com/linz/AIMS/issues/157.

The appellation will no longer be populated during data migration. Any value a user enters into this field will be free text and if it is populated by a user, then it's the responsibility of any user editing this address to maintain it's accuracy.

[2016-07-25 22:04] #150 closed

[2016-07-25 22:08] Deb-Jones commented on #141
This is not the intended functionality. Addressable Object assignment is intended to be point-in-polygon. Any type of Addressable Object will require a polygon and the addressableobjectid will be calculated based on the position of the address point.

Any choice in addressable object would be different types of addressable object having overlapping polygons. In which case the addressableobjectid w

[2016-07-25 22:08] #141 closed

[2016-07-25 22:10] Deb-Jones opened #154 "Hide External Object Id and External Object Id Scheme from the UI."
Refer to database issue https://github.com/linz/AIMS/issues/157.

The External Object Id and External Object Id Scheme should be calculated using the object type and position of the address point.

Users should not interact with External Object Id or External Object Id Scheme. Therefore these should be hidden from the UI.

[2016-07-26 01:42] Deb-Jones opened #155 "Error Message for Edit Retired address"
When a user attempts to edit a retired address, a pop up message displays:

![image](https://cloud.githubusercontent.com/assets/15723101/17123295/aaf61348-5336-11e6-8f5e-ba4a74f61963.png)

LifeCycle cant be changed for a retired address

This occurs regardless of what is being edited. It even displays when LifeCycle is not being changed.

The functionality is accurate but the message should say;

[2016-07-26 02:17] Deb-Jones commented on #140
Tested 0.8.16 Passed.

[2016-07-26 02:17] Deb-Jones commented on #142
Tested 0.8.16 Passed.

[2016-07-26 04:34] SPlanzer commented on #154
Done. please expect changes in 0.8.17

[2016-07-27 00:27] Deb-Jones commented on #125
Tested 0.8.16 Passed.

[2016-07-27 00:54] Deb-Jones opened #156 "Update in QA Form Title - Number Suffix"
Can the title of this field be changed to 'Alpha' not 'Number Suffix'?

It is called Alpha on the Edit Feature form.

[2016-07-27 01:50] Deb-Jones opened #157 "Refresh resets QA Edit Values"
When you update values in QA Edit, if a refresh occurs all the values are reset and you loose your changes.

This would occur in BAU if you were interrupted and didn't enter Update before the refresh.

[2016-07-27 23:53] Deb-Jones commented on #67
Team UAT repeated the requirement for Lodged Parcels.

[2016-07-27 23:58] Deb-Jones opened #158 "Parcel lines difficult to see over imagery."
When the user has imagery on, it is difficult to see the parcel boundaries. Parcel boundaries need to be formatted to be visible over a white background or coloured imagery.

[2016-07-28 02:22] Deb-Jones opened #159 "Meshblock Override for hole in meshblock"
@linzbjones  Meshblock overrides get applied when you accept a change. Validation occurs when you submit a change.

So placing an address point outside all meshblocks, but entering a meshblock override still triggers validation rule 56 "Address does not fall within a meshblock";"Info";t.

I had thought the correct functionality was for validation rule 56 not to trigger if there is a meshblock over

[2016-07-28 03:53] linzbjones commented on #157
TWG - needs to be scoped and reassessed.

[2016-07-28 04:23] linzbjones commented on #159
@Deb-Jones it sounds ok to me. Definitely not a high priority

[2016-07-29 01:00] SPlanzer opened #160 "When accepting a group with a reject and error message should be raised"
A independent script returns the below as expected and proves the API is returning what is expect within 2 seconds

~/aims/api/groups/resolutionfeed/2000668/accept

[code]

The UI does not raise this message

[2016-07-29 02:15] Deb-Jones opened #161 "QA Filter Dropdown listing one person multiple times"
![image](https://cloud.githubusercontent.com/assets/15723101/17235603/8d3f5af0-5596-11e6-9821-87d1c8f2d024.png)

The same user is repeated 3 times.

Only one instance of that user needs to be selected for their changes to show. All three instances need removing to hide their changes.

[2016-07-29 03:21] Deb-Jones opened #162 "Python Error when accepting the same change twice"
I was accepting items on the review queue. The top item looked like it hadn’t been accepted so I went back up and accepted it again. I got a conflict id message pop up, but then this python error popped up.

I've only seen it once so not sure how to replicate it.

An error has occurred while executing Python code:
Traceback (most recent call last):
  File "D:/Users/djjones/.qgis2/python/plugins\ai

[2016-07-29 23:03] SPlanzer opened #163 "Filter on Ref Data Groups to show only those with warnings"

[2016-07-29 23:21] SPlanzer opened #164 "UI not not pulling records down after > count=1000"

[2016-07-31 20:42] #159 closed

[2016-07-31 23:35] josephramsay commented on #164
Paging is implemented on feed reading operations at the sync layer where each page is read in a separate updater thread. Requests were only ever supposed to be single action i.e. add-1-address, reject-1-address, delet-1-group, approve-1-group etc and were implemented in the updater layer bypassing paging. To add paging to the request/response mechanism (non hacked) would require splitting out the

[2016-08-01 00:29] #154 closed

[2016-08-01 01:11] Deb-Jones opened #165 "Display of Full Road in QA Queue Detail"
![image](https://cloud.githubusercontent.com/assets/15723101/17280806/617bc12e-57e9-11e6-91e0-bbea4d015cb1.png)

Water Name is currently displayed in the Full Road Name field. Please display it in the Locality field.

[2016-08-01 02:12] rgabara commented on #164
TWG - agree this issue will be parked until after go-live. Localities and meshblocks ref data will be QA'd before being loaded into AIMS. This will be a priority for early release after go-live.

[2016-08-01 02:47] SPlanzer opened #166 "when moving an group data res item the review item point is not created as a temp feature"
This only affects what the user sees and not the back end of DM or API. This only affects the temp feature and the DM data flush shows the new review position.

Simple fix

[2016-08-01 03:08] josephramsay commented on #148
User functionality exists in DM, just needs to be activated

[2016-08-01 03:56] SPlanzer commented on #166
Resolved

[2016-08-01 03:56] #166 closed

[2016-08-01 04:10] SPlanzer commented on #165
Removed from road name. Still need to map water name to localities

[2016-08-01 04:14] SPlanzer commented on #161
resolved please retest

[2016-08-01 04:19] SPlanzer opened #167 "After plugin unload bbox trigger still called"

[2016-08-01 22:24] SPlanzer commented on #167
Resolved

[2016-08-04 04:12] SPlanzer commented on #156
done

[2016-08-04 04:12] #156 closed

[2016-08-07 23:39] rgabara commented on #157
TWG - @SPlanzer  please provide an update

[2016-08-07 23:42] SPlanzer commented on #157
Ready for @Deb-Jones  to test

[2016-08-07 23:42] #157 closed

[2016-08-07 23:44] SPlanzer commented on #162
Having difficulty replicating. Will explore further this week

[2016-08-07 23:44] Deb-Jones commented on #46
Tested 0.8.17. Passed.

[2016-08-07 23:53] Deb-Jones commented on #154
Tested 0.8.17. Passed.

[2016-08-08 00:27] Deb-Jones opened #169 "Review Queue Items displaying incorrectly"
Simon to document detail.

[2016-08-08 00:51] Deb-Jones opened #170 "Review Queue - Display of Warnings"
Warnings are not showing up on the review queue until you close out of QGIS and go back in.

[2016-08-09 22:36] billgeo commented on #170
Hi @SPlanzer , please update with expected effort for DWG today (3pm), or close if fixed.

[2016-08-09 22:36] billgeo commented on #169
Hi @SPlanzer, please update with expected effort for DWG today (3pm), or close if fixed.

[2016-08-10 00:59] SPlanzer commented on #170
With API patch this has been solved - @Deb-Jones  to test

[2016-08-10 00:59] #170 closed

[2016-08-10 01:02] SPlanzer commented on #169
API patch has resolved this  - @Deb-Jones to test

[2016-08-10 21:10] linzbjones opened #171 "Primary and Sub-Address, build functionality in UI to do this"

[2016-08-10 23:23] #169 closed

[2016-08-11 05:16] SPlanzer opened #173 "Update Tool does not highlight RCL"

[2016-08-11 20:41] SPlanzer commented on #165
I have stripped out the Water Name from the Full Road but have not mapped it to the locality.

Therefore when a Water Address is shown in the feature table the Water Route is shown in the Full Road. Water Name is not mapped to the locality but is shown in the detailed address view.

I am going defer the mapping to Water Name to Locality in the feature table view until 1.1 as it would be risky to m

[2016-08-11 20:41] #165 closed

[2016-08-14 22:03] Deb-Jones commented on #170
Tested. Passed.

[2016-08-14 22:06] Deb-Jones commented on #169
Looks wrong until refresh comes through. Then displays correctly. Will mark as passed, but will reopen if it causes confusion to other users.

[2016-08-16 23:15] Deb-Jones opened #177 "Create a pop-up message for Duplicate addresses."
We have had to make validation rules 43 (address is not unique on the road object) and 42 (address is not unique within the suburb) INFO rather than WARNING because there are approx 700 existing duplicate addresses that could not be edited if these validations were WARNINGs.

Refer https://github.com/linz/AIMS/issues/186

To prevent the INFO being ignored, can a pop up message be created to force

[2016-08-22 21:07] SPlanzer commented on #162
Hi @Deb-Jones, I haven't been able to recreate this. Have you been seen this since?

If so, could you please add the trace back each time so that we can track the frequency.

[2016-08-22 22:40] SPlanzer commented on #177
If an address has the info "address is not unique on the road object" and is accepted at review, the below messageBox is shown to the user.

Note: This is only shown at review.
This is not the case for for val rule 42 as per #186

![messageboxdup](https://cloud.githubusercontent.com/assets/10425696/17874158/e4631250-691d-11e6-85f3-381b994d3afa.png)

[2016-08-22 22:41] SPlanzer commented on #160
Resolved

[2016-08-22 22:41] #160 closed

[2016-08-22 22:59] billgeo commented on #177
Hey @SPlanzer .  As discussed would be better to implement proper warnings and infos and not hard code exceptions.  Can you open a issue for v1.1 to do that?

[2016-08-22 23:06] Deb-Jones commented on #177
Once address range road is implemented validation rule 43 will go back to being a warning and this pop-up will not be needed.

This fix is a work-around until address range road is implemented.

[2016-08-22 23:35] billgeo commented on #177
Okay. Could leave this open until that happens.

[2016-08-26 02:53] LinzDSie opened #179 "After new road creation use of Road center line selector checked and adding new address"
After adding a new road, the road center line selector tool check box is checked, if a new address is added returns the following error:

An error has occurred while executing Python code:

Traceback (most recent call last):
  File "D:\Users\DSie\.qgis2\python\plugins\aims\AimsUI\CreateNewAddressTool.py", line 107, in canvasReleaseEvent
    self.NewAimsFeature(coords)
  File "D:\Users\DSie\.qgis2\

[2016-08-28 23:23] Deb-Jones commented on #177
Tested. Passed.

Leaving issue open and changing milestone to 1.1.

[2016-08-28 23:25] Deb-Jones commented on #161
Not fixed.

![image](https://cloud.githubusercontent.com/assets/15723101/18037540/31934f9c-6ddb-11e6-850f-5016fffcc966.png)

Low priority.

[2016-08-28 23:32] Deb-Jones commented on #138
Tested. Passed.

[2016-08-29 23:58] SPlanzer opened #180 "Coupling Between Roads/Aims Plugins"
Low Priority as Road Names are created often but less frequently updated.

When a data maintainer updates/edits a road name and the road reference data function ran, The user is then told that there is a AIMS group in the review queue to review as to update the AIMS features associated to the new road name.

Currently the user may have to wait for up to a minute (at the most) for this group to app

[2016-08-30 02:04] SPlanzer commented on #179
@LinzDSie Please retest in next release of plugin (v > 0.8.22)

[2016-08-30 02:04] #179 closed

[2016-08-31 01:56] linzbjones commented on #167
TWG - @SPlanzer  has this been resolved and implemented?

[2016-08-31 01:58] linzbjones commented on #162
@Deb-Jones do you have an update on recreating this and is it still low priority

[2016-08-31 02:01] Deb-Jones commented on #162
Haven't seen it again.

[2016-08-31 02:04] linzbjones commented on #68
TWG - @SPlanzer can you confirm if threading is complete and then close.

[2016-08-31 02:06] linzbjones commented on #67
TWG - @Deb-Jones can you please confirm lodged parcels has been added? if we need other layers, can we please raise them as separate issues.

[2016-08-31 02:07] Deb-Jones commented on #67
Lodged Parcels added.

[2016-08-31 02:07] #67 closed

[2016-08-31 02:07] #63 closed

[2016-08-31 02:33] SPlanzer opened #181 "Crash dump when quitting Qgis"
There are potentially resources that require clean up at unload. This only affects Windows. I need to get access to a Windows machine that I have privileges on.

I will bring a windows machine in tomorrow and investigate.

[2016-08-31 02:33] SPlanzer commented on #167
This has been implemented but there are still potentially unload issues  that manifest as crash reports only in Windows environments.

I have open a new issue to capture this -  #181

[2016-08-31 02:33] #167 closed

[2016-08-31 02:37] SPlanzer commented on #68
Data Handling is multi threaded. Data monitoring runs in a thread outside the main thread.

Closed

[2016-08-31 02:37] #68 closed

[2016-08-31 02:40] SPlanzer commented on #162
I have spent half an hour today trying to recreate this without success. This afternoon, based on the trace back I will investigate what i can do to add further resilience here

[2016-09-06 19:55] Deb-Jones opened #182 "Meshblock Override Disappearing from Edit Feature Form"
Actions:
Add an address with a meshblock override.
Accept.
Move the address.
Accept. (note, the meshblock override is visible on the review form)
Edit the address.

At this point the meshblock override is not visible on the edit feature form.

I will need to do more analysis to narrow down the issue.

[2016-09-07 01:24] billgeo commented on #182
TWG: please diagnose and fix if it's a UI issue, if it's a API/DB issue please transfer this to the AIMS repo and leave unassigned.

[2016-09-07 01:30] billgeo opened #183 "Change parcels from LDS schema to the BDE schema"
Switch the map back to getting all it's data from BDE schema.

TWG will decide this on Friday.

[2016-09-07 03:05] palmerj commented on #183
Can you please specify what the map requirements are in QGIS? Does it need the LDS primary parcels layers because it has title references and the appellation string?

[2016-09-07 03:45] billgeo commented on #183
Just spoke with Simon about this. He has a few map layers which he is going to investigate switching to the BDE schema or LDS WFS.

1) primary parcel spatial extents
2) pending parcel spatial extents
3) parcel labels showing title numbers

[2016-09-07 03:48] palmerj commented on #183
Is there a requirement to have the data in sync with the AIMS database parcels (e.g crs_parcel)

[2016-09-07 20:54] SPlanzer commented on #182
This was an issue where the derived isMeshblockOverride flag is not returned in the json object that is part of the response to an accept. If a user selected an obj derived from the response that had just had the meshblock overridden and then passed this obj back to the API the meshblock override would be lost.

This has been solved by setting the flag in the python object if a meshblock is return

[2016-09-07 20:55] #182 closed

[2016-09-07 22:06] SPlanzer commented on #182
note; a related API issue has been created [212](https://github.com/linz/AIMS/issues/212)

[2016-09-07 23:31] billgeo commented on #183
This is the filter that you need to use to get primary current and primary pending

Current

[code]

Pending

[code]

[2016-09-12 01:55] linzbjones commented on #183
TWG @palmerj is there anything that you are expecting changed in the UI as a consequence of your changes?

[2016-09-12 02:04] palmerj commented on #183
Note completely sure on the UI within the plugin because I've never seen it!

But one issue could be the context parcels layer in QGIS. Simon tried to swap this out for a derived query to retain the appellation but had performance and correctness issues. See my comment here: https://github.com/linz/QGIS-AIMS-Plugin/pull/184

[2016-09-13 03:13] Deb-Jones opened #185 "Source Notes carried on to address move"
If the previous address change had source notes, a move will keep the previous source notes.

This may not be a new issue. I haven't directly tested for it. I noticed it when moving an address that I had previously done a roads reference data edit on.

Could cause confusion if the comment refers to a previous change. Not a show stopper for go live.

[2016-09-13 03:15] Deb-Jones commented on #162
I accepted the same change twice and got an error message. This is acceptable.

[2016-09-14 00:02] Deb-Jones commented on #162
I accepted the same change twice today and got a python error again.

An error has occurred while executing Python code:

Traceback (most recent call last):
  File "D:/Users/djjones/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\ReviewQueueWidget.py", line 225, in featureSelected
    self.uQueueEditor.currentFeatureToUi(self.currentReviewFeature())
  File "D:/Users/djjones/.qgis2/python/plugins\

[2016-09-14 00:24] Deb-Jones opened #186 "Python Error When Declining a Modify"
If I edit an address (either move or modify) and then decline the change, I get the following python error.

The actual change does get declined.
select cq.changeid, ct.addresschangetypename, qs.addressqueuestatus
from aims_stage.change_queue cq
join aims_systemconfig.address_change_type ct
on cq.changetypeid = ct.addresschangetypeid
join aims_systemconfig.address_queue_status qs
on cq.queuestatus

[2016-09-14 02:16] Deb-Jones opened #187 "Road Labels disappear"
Road labels disappear from the edit feature tab after I've switched between address type road to water and back again.

![image](https://cloud.githubusercontent.com/assets/15723101/18497829/d6730f96-7a85-11e6-9c06-ba027d4a590c.png)

[2016-09-14 02:17] Deb-Jones commented on #187
They're also gone from the review tab.

![image](https://cloud.githubusercontent.com/assets/15723101/18497840/f219a23c-7a85-11e6-8df7-53d4e322f313.png)

[2016-09-14 03:48] Deb-Jones opened #188 "Review Panel too narrow"
The review panel width has been reduced and you have to scroll to see the drop down arrows and rcl select button.

Can it be widened again please?

![image](https://cloud.githubusercontent.com/assets/15723101/18499405/b21ea60c-7a92-11e6-8783-afb9cce137ca.png)

[2016-09-15 02:18] SPlanzer commented on #187
Please retest

[2016-09-15 02:18] #187 closed

[2016-09-15 21:04] SPlanzer commented on #188
@Deb-Jones please review in the next version

[2016-09-15 21:08] SPlanzer commented on #186
@Deb-Jones at what frequency do you see this occur? every time you perform an update?

[2016-09-15 21:37] Deb-Jones commented on #186
It's not occurring today.

I suspect it is a time out type thing. The declines were happening. We should make this a low priority.

[2016-09-15 21:42] SPlanzer commented on #186
I cant reproduce it but looking at the trace back I can add some extra handling to ensure non responses do not cause such errors

[2016-09-16 02:34] SPlanzer commented on #185
Please retest in next release.

Note; the config files requires an extra line
"MERGE_EXCLUDE = 'workflow_sourceReason'"

This has been added to the config template

[2016-09-16 02:35] #185 closed

[2016-09-18 22:03] #186 closed

[2016-09-27 01:52] billgeo commented on #183
In answer to @linzbjones question. No. This is all backend stuff and AIMS API and UI should work exactly the same.

[2016-09-27 01:53] billgeo commented on #183
@SPlanzer to close once he's swapped the UI over to "bde" schema tables.

[2016-10-19 00:46] billgeo commented on #183
@SPlanzer, as discussed. Look at all options to get the appellation for the map display, including temporary workarounds and put here so we can decide on acitosn

[2016-10-20 22:16] billgeo commented on #183
HI @SPlanzer, we are having a TWG at 3pm today. Are you able to add this info before then please?

[2016-10-20 22:50] SPlanzer commented on #183
The spatial parcels have been migrated from the LDS data to BDE.

However, the addressing team have a requirement to have these parcels labelled with there corresponding appellation - THIS IS STILL OUTSTANDING

Several options have been explored to label these parcels.
- utilising the LDS WFS feed has been considered
  - However, data would be up to a week out of date. It is my understanding this

[2016-10-21 00:10] palmerj commented on #183
I would say another option is to rewrite the appelation pl/pgsql function to sql. That would allow good performance on a non-materialised view.

[2016-10-21 02:18] billgeo commented on #183
TWG: Addressing team has workarounds for this and can live without this function for 3 weeks.

[2016-11-07 22:49] Deb-Jones opened #194 "Map - Road Parcels"
Make road parcels more identifiable on the map. For example, in Landonline the road parcels have an orange fill.

[2016-11-07 22:52] billgeo commented on #194
@SPlanzer - should be a simple change I take it. Let's plan to do this in the first patch release.

[2016-11-07 22:53] Deb-Jones opened #195 "Refresh: Accepting last item on queue"
When the user accepts the last item on the queue, it can take some time to come off the queue and for the AIMS Review layer to update. The user thinks they haven't accepted and tries to accept again but gets an error that it's already being modfied.

There is no impact on data quality. It is just a frustration for users.

[2016-11-07 23:03] billgeo commented on #195
@splanzer is this that bug you were working or already fixed?

[2016-11-08 01:53] Deb-Jones opened #196 "Snapping to non-AIMS data"
During UAT I passed that you are able to snap to a shapefile that you drag in. This is not correct. It is not actually snapping.

For TAs that provide a spatial file, they would expect that we are using their coordinates. This cannot happen unless we copy or snap to their provided data.

As an enhancement can we snap to external data sources?

[2016-11-09 01:22] SPlanzer commented on #195
This is fixed awaiting testing prior to release

[2016-11-09 01:39] SPlanzer opened #197 "Screen not refreshing correctly when moving addresses"
This is directly related to: https://github.com/linz/AIMS/issues/227 but has been opened here to give it visibility against the plugin

Intial comment below:
[code]

[2016-11-09 01:57] SPlanzer commented on #197
Understood, not fixed

This bug has existed since the "move tool" sprint 6 + months ago but has just been discovered.

The move tool code must be refactored to modify the coordinates against a clone rather than the AIMS address feature being moved.

This requires a small change to the move tool code but also will require some modification to the data_managers Address.clone() method ideally by @jos

[2016-11-14 19:47] Deb-Jones opened #198 "Map: Pending Parcels"
Can the default style for pending parcels please be changed to have a transparent fill?

[2016-11-16 19:53] SPlanzer opened #199 "traceback when moving group items"
original comment from @Deb-Jones below. This was commented against https://github.com/linz/AIMS/issues/231

-----------------------------------------------------------------------------------------------------------------

I just tried moving one of the affected addresses (move within it's current parcel) and got a python error. Having said that, in the Address Publish table the address data has b

[2016-12-01 20:33] linzbjones commented on #195
@SPlanzer Once tstassgeo1 is up and running can you please release this on test? Once release can you please assign to @Deb-Jones to test.

[2016-12-01 20:39] linzbjones opened #200 "Display appellation layer"
@billgeo Can we please get some of @SPlanzer time to have a look at displaying appellation in AIMS, the Addressing team view this as one of there biggest issues. We are going to be working on a appellation search in the near future.

[2016-12-01 20:49] billgeo commented on #200
Sure. He's busy on another thing right now, but might be able to fit this in. Will schedule it in with him on Monday.

Although whatever he does for labels you'll probably want to reuse for appellation search. @linzbjones who will be working on the appellation search?

[2016-12-01 21:02] linzbjones commented on #200
@billgeo we plan to get @LinzDSie  to tackle appellation search. We plan to utilise the road search and get assistance from @pkinglinz

[2016-12-01 21:11] billgeo commented on #200
@SPlanzer, can you look at this when you've finished the LDS SSP measure tool.

And if you build any views in the BDE processor work with @LinzDSie and try and make them re-useable for searching too (probably needs parsed appellation components).

I think we decided that materliazed views were the only way to make it perform in QGIS? But it looks like that can be problematic with triggers. http://

[2016-12-01 21:13] linzbjones commented on #116
@LinzDSie can you please look at incorporating an appellation search into the roads search with the assitance of @pkinglinz. You will need to wait until @SPlanzer has completed #200.

Can you please make sure you work with the Addressing Team to get the specific requirements for the tool before you start any work on it

[2016-12-05 01:04] billgeo commented on #200
@SPlanzer also, looks like LDS products are still turned on on prdassgeo02. Could be a simple option.

[2016-12-05 02:28] palmerj commented on #200
@billgeo: Really? I thought we turned that off for performance reasons. Or is it some old unmaintained tables in the LDS schema?

[2016-12-05 03:00] billgeo commented on #200
Don't know if it's being maintained or not?

[2016-12-06 04:23] billgeo commented on #200
@LinzDSie  and @SPlanzer  just confirming that LDS products (including label friendly appellation data) is being maintained on prod 2 box.

Simon an easy interim fix could be using that in the QGIS map view? Downside would be that if one server doesn't update for some reason they'd be out of sync. Not sure how much impact that is for the addressing team.

[2016-12-14 00:28] linzbjones commented on #200
@SPlanzer and @billgeo how is this going? Have we made any progress at getting appellation into AIMS. Currently the team are having to use Landonline and or LINZ Maps outside of AIMS to get the correct parcel.

[2016-12-14 00:41] billgeo commented on #200
@linzbjones - I needed Simon to finish another piece of work first, but good to know the priority of this. @SPlanzer can update on when he is planning to fit this in.

[2017-01-11 03:13] SPlanzer commented on #200
Hi @linzbjones

I am currently scoping this task. The best solution  to the this involves using new functionality released as part of 2.10.

are you Ok with the addressing team testing the next release against the most current LTS (2.14.x Essen) with the goal of 2.14 becoming the min version for the plugin? i.e. they would all need to upgrade to QGIS 2.14.x

@dwsilk, do you foresee any issue that

[2017-01-11 03:23] dwsilk commented on #200
Just the need for a full regression test using 2.14 to ensure that there are no compatibility issues. Would also need to test the import_image plugin.

[2017-01-12 19:56] linzbjones commented on #200
@SPlanzer I will need to have the team install 2.14 on and there G: drive and see if QGIS operates from there first.

I also agree with @dwsilk that both the roads and AIMS will need to go through a full regression.

What is your time frame on this? As @Deb-Jones would be the person to run through the full regression test.

[2017-01-12 19:59] billgeo commented on #200
There are changes to the table versioning functions too (ready to go I believe) which could be tested at the same time.

[2017-01-13 01:26] SPlanzer commented on #200
@linzbjones Ill have the parcel label functionality ready for testing by the end of next week (20 Jan)

[2017-01-13 02:59] dwsilk commented on #200
@pkinglinz is having a look at whether there is a standalone version of QGIS 2.14 that we can run in OPA (equivalent to the version of QGIS 2.08 that is currently in use).

The proposed tableversion changes break AIMS / Roads code and require data migrations so unless there is a significant delay on this piece of work, the tableversion changes probably won't be ready for testing at the same time.

[2017-01-26 03:04] billgeo commented on #194
@SPlanzer - can you release this one with #200

[2017-01-26 03:10] SPlanzer commented on #194
easy -  @Deb-Jones, pay me a visit prior to the next release and we can get it right to your liking. This will only take a minute

[2017-02-06 22:41] SPlanzer commented on #194
Actually, @Deb-Jones , Get the roads styled how you like them and save a QGIS Layer Style File.

That is:
* Edit the Road layer style via the Layer Properties menu.
* Once the layer is looking good:
  * Select "Style" at the bottom of the layer properties dialog > "Save Style" > "QGIS Layer Style File..."

We can then push this outputted file to GitHub and roll it out for the next release.

[2017-02-09 01:51] SPlanzer commented on #198
Done, will be rolled out as part of next release. Thanks @Deb-Jones

[2017-02-09 01:51] #198 closed

[2017-02-09 01:51] SPlanzer commented on #194
Done, will be rolled out as part of next release. Thanks @Deb-Jones

[2017-02-09 01:51] #194 closed

[2017-02-09 01:53] SPlanzer commented on #200
Ready to test

[2017-02-09 01:54] dwsilk commented on #200
As is the standalone version of QGIS 2.14 (via Pete)

[2017-02-09 01:56] SPlanzer commented on #200
@Deb-Jones has Pete's version of this and will be testing using this

[2017-02-12 21:56] SPlanzer commented on #188
@Deb this should have been rolled out in version 1.0.0. Can you confirm and remove the test label

[2017-02-12 21:57] SPlanzer commented on #187
@Deb this should have been rolled out in version 1.0.0. Can you confirm and remove the test label

[2017-02-12 23:57] Deb-Jones commented on #182
Tested. Acceptable.

[2017-02-13 00:00] Deb-Jones commented on #185
The source notes do not persist if the features have refreshed.

[2017-02-13 00:05] Deb-Jones commented on #187
Tested. Acceptable.

[2017-02-13 00:06] ghost commented on #185
This is caused by the ConfigParser library which rewrites the entire config file from stored values every time it is saved. Comments don't get loaded when the keys/values are read so are lost when these values are resaved.

[2017-02-13 00:10] Deb-Jones commented on #188
Version 1.0.0 in QGIS 2.8.7 this is fine.
Version 1.0.0 in QGIS 2.14.8 it is narrow again.

@SPlanzer how hard is it to change this for the default view? We don't want to have to change it every time we open the AIMS Plugin. I suggest we make the new version the correct width for 2.14.8.

[2017-02-13 00:13] Deb-Jones commented on #195
I still see this problem on production, but when I test on test I can't replicate it.
Happy to close for now, and reopen if it reoccurs once new version and 2.14.8 is rolled out to everyone.

[2017-02-13 00:13] #195 closed

[2017-02-13 00:27] SPlanzer commented on #195
This is part of the 1.2.0 release (please test in dev version 1.1.0)

[2017-04-25 23:27] jason-bedford opened #203 "Move feature icon displays incorrect text in Review queue."
When you click the Move AIMS Feature button that resides in the Review queue screen (next to the Position Type field), it displays the text "Click map to select road centerline" at the bottom of the screen.
This is incorrect. It should say something like "Right click for features new location", as it does when you select the corresponding button in the main toolbar menu.

[2017-05-01 03:17] linzbjones opened #204 "Bulk Load of Address Ranges"
@imincik Can we please use some of @SPlanzer time to push through a bulk load of addresses to AIMS?

Can you please give me a time frame on when he would be available to do this work?

[2017-05-01 16:31] imincik commented on #204
@linzbjones , I am OK if @SPlanzer will do it this week ( @SPlanzer , please move this task to our project management if you will decide to work on it ) .

[2017-05-01 21:29] SPlanzer commented on #204
Hi @linzbjones. Feel free to send someone my way provide the details of this task.

[2017-05-02 03:19] SPlanzer commented on #204
closing. The be managed as part of data service issue [#140](https://github.com/linz/LI-tasks/issues/140)

[2017-05-02 03:19] #204 closed

[2017-05-05 02:22] Deb-Jones opened #205 "Retain check box for Position Type"
There is a check box next to Road Centreline Id to retain the road centreline id for the next record added. Can we please have this same functionality for Position Type?

When adding an apartment block, it is time consuming to keep having to select "Building Centroid" for every apartment in the building.

[2017-05-29 01:24] billgeo commented on #200
@SPlanzer @Deb-Jones can this be closed now?

[2017-05-29 01:48] SPlanzer commented on #200
This is awaiting the roll out of a more current QGIS version to OPA/DAAS so that the work can be signed tested and signed off

[2017-05-29 01:49] billgeo commented on #200
2.14 is on DaaS. Is that what you need to complete this?

[2017-05-29 01:55] SPlanzer commented on #200
Okay. I just checked the status of https://github.com/linz/LI-tasks/issues/19. I would prefer to keep this task open until testing has been conducted.

@Deb-Jones / @linzbjones can we schedule a roll out of this. When would work for you to do some testing? It would have to be some time after this week as I need to schedule a little time to support this.

[2017-06-02 03:30] Deb-Jones opened #206 "User able to add address with addressable object type Building"
If a user adds an address with an addressable object type of building a box pops up with the error "Action Rejected AddressableObjectID cant be assigned using the spatial Address object". This is correct behaviour.

If a user adds an address with an addressable object type of parcel and submits. The user then modifies the addressable object type to building within the queue. The system allows the

[2017-06-02 03:47] SPlanzer commented on #206
Hi @Deb-Jones

This sounds like one for the API as opposed to the plugin. The UI relies on the API's behaviour concerning warnings / rejections. This must therefore be solve at the API level to halt any further data corruption.

[2017-06-05 20:13] linzbjones commented on #200
@Deb-Jones can you please let @SPlanzer know when a good time is to test this.
Might be delayed with the recent issues that have been raised.

[2017-06-06 03:00] Deb-Jones commented on #206
Replaced by issue https://github.com/linz/AIMS/issues/267

[2017-06-06 03:00] #206 closed

[2017-06-06 03:48] Deb-Jones commented on #200
@linzbjones @SPlanzer this needs QGIS 2.14 or higher to roll out. Roads didn't work on 2.14 when last checked. I can check if it works on 2.14 but still couldn't roll it into prod until roads is tested on 2.14 and the bugs fixed.

[2017-06-06 03:52] Deb-Jones commented on #188
Currently displays correctly.

[2017-06-06 03:52] #188 closed

[2017-06-06 04:01] Deb-Jones commented on #162
Not seen since go-live. Close issue and reopen if it reoccurs.

[2017-06-06 04:01] #162 closed

[2017-06-06 21:08] linzbjones commented on #200
@Deb-Jones I spoke to @dwsilk about the roads plug in and getting it working in 2.14. The GeoData team need to automate the plugin tests for the next phase of the roads project. This will be done on 2.8, so the plugin for 2.14 will not be ready until early July.

[2017-06-06 22:12] Deb-Jones commented on #70
@linzbjones is this still a future requirement given that our external performance measure is changing?

[2017-06-06 22:13] Deb-Jones commented on #65
You can sort the features within a group on the review queue. Must have implemented this at some stage.

[2017-06-06 22:13] #65 closed

[2017-06-06 22:56] linzbjones commented on #70
@Deb-Jones I still think it would be useful. But it is well down the priority list.

[2017-06-22 01:03] Deb-Jones opened #207 "Enhancement: Ability to upload .csv onto change queue"
As a user of AIMS I want the ability to simply add multiple items to the change queue from a correctly formatted .csv.

It is probable that this code can be built on to provide bulk loads.
Users will need to add or modify addresses.
For modify, any parameter of the address could be modified (e.g. position type).
The developer will need to advise the required format of the .csv.

The purpose of thi

[2017-06-22 01:11] Deb-Jones opened #208 "Enhancement: Ability to enter subdwelling prefix ranges"
As a user of the AIMS UI I want the ability to enter a subdwelling prefix range and have the UI create multiple individual address points to represent each address within the range.

For example user can enter 201-224/125 Customs Street West and 24 individual units would be created.
All units would be stacked and assigned any other attributes entered into the edit feature form (for example positio

[2017-06-22 01:17] Deb-Jones commented on #164
@imincik Geodetic have advised that there will be a mass parcel adjustment in response to the Kaikoura earthquake. They estimate this will be several months away.

The impact will be that thousands of address points will be included in one parcel reference data update on the day they do that. This issue will need to be resolved before that happens.

[2017-06-22 02:47] imincik commented on #164
Thanks for information.

[2017-06-25 21:41] imincik commented on #207
@SPlanzer ,  this is good to be done until mid-July.

[2017-06-25 21:46] Deb-Jones commented on #208
Unable to test this until Roads has been updated for 2.14. Their estimated timing is mid July.

[2017-07-06 22:07] Deb-Jones commented on #207
Can I please have an update on when this is expected to be delivered?

[2017-07-06 22:12] Deb-Jones opened #209 "Enhancement: Ability to upload .csv onto change queue and auto accept"
As a user of AIMS I want the ability to simply add multiple items to the change queue from a correctly formatted .csv **and have them automatically accepted**

Users will need to add or modify addresses.
For modify, any parameter of the address could be modified (e.g. position type).
The developer will need to advise the required format of the .csv.

The purpose of this enhancement is to facilitat

[2017-07-06 22:16] SPlanzer commented on #207
Sorry hadn't seen this one.

I would really need to sit with @Deb-Jones to scope this one out to get any time frames together. Though it is almost mid-july now. I will raise this at next weeks planning session  - it will be up to @imincik to prioritise.

[2017-07-06 22:24] Deb-Jones commented on #209
I am currently able to accept 10 addresses per minute. To accept 65,000 addresses would take 108 hours.

[2017-07-06 22:25] SPlanzer commented on #209
Concerning those to be modifying - Will the AIMS feature Id of the address to be modified be supplied in the .csv?

[2017-07-06 22:27] Deb-Jones commented on #209
Tell me what the .csv needs.
Would it be more practical to have two tools? One for adds only, one for modifys?

[2017-07-06 22:34] SPlanzer commented on #209
One tool would be desirable as long as the .csv is explicit as to the actions of each record.

There will need to be a sit down to understand the requirements. currently I am unsure of my availability for this piece of work and as mentioned in #207 I will follow this up Monday.

[2017-07-09 22:35] imincik commented on #207
@Deb-Jones , it is not possible to do it this week for sure. It will be great, if we will have discussion next week.

[2017-07-16 22:40] imincik commented on #207
@Deb-Jones , the best we can do this week is to have 30 minutes meeting to better understand and document your needs. @SPlanzer will organize the meeting.

[2017-07-16 22:57] SPlanzer commented on #207
Hi @Deb-Jones. As above lets organise 30min this week to scope this piece of work. I am on leave Thur/Fri but anytime tomorrow or Wednesday afternoon suits me

[2017-07-19 01:56] Deb-Jones commented on #207
Merged into https://github.com/linz/QGIS-AIMS-Plugin/issues/209

[2017-07-19 01:56] #207 closed

[2017-07-19 02:07] Deb-Jones commented on #209
The requirement is to have a method to load changes onto the queue and either accept them or leave them on the queue.

This method can be accessed by the users using execute via command line.

Users will be limited to senior addressing analysts, i.e. myself and @jason-bedford

The input file will be a .csv file. I will create an example .csv for @SPlanzer to review before development commences. It

[2017-07-21 13:51] imincik commented on #209
@SPlanzer , @Deb-Jones ,

thanks, just let you know that I've seen your last update in proposal.

[2017-08-03 20:28] dwsilk commented on #200
Note: https://github.com/linz/LI-tasks/issues/171 `2.14.1` was installed on DaaS - missing 16~ patch versions of the LTR. DaaS still needs a QGIS upgrade to be compatible with plugins developed on later patch versions of `2.14`. I am requesting that it be `2.18` since that is now the LTR.

[2017-08-13 21:31] SPlanzer commented on #209
Hi @deb I will start this this week.

As a first step we need an example csv file so that we can ensure we both agree on the files format that will be read and processed.

If you have one please share it else I will create and share one as part of project initiation.

[2017-08-23 02:36] SPlanzer commented on #209
The beginning of a test .csv  can be created with the below SQL.

@Deb-Jones, please see attached an example of a csv I will use for development. Please review this to ensure this is inline with what you are able / expect to provide to a cmd line tool.

note this very simple and only attempts a few simple new, retire and update cases. As development progreses I will create more complex examples.

[2017-08-23 02:38] SPlanzer commented on #209
The repository for development is to be the [address data quality repo](https://github.com/linz/address-data-quality/tree/master/csv2AIMS)

please track any issues here

[2017-08-24 04:21] SPlanzer commented on #209
Also note all references to DEL are now 'retire' to reduce any confusion by having the semantics reflect the system's actions.

therefore actions in the spreadsheet shall be one of:
* new
* retire
* update

[2017-08-27 23:20] SPlanzer commented on #209
@Deb-Jones I will be ready to test this tomorrow.

First I will need to do some ground work to get you access to the AIMS installation on the LI-experimental server. It would be good to have some of your time the second half of this week to run the solution by you and get some testing done

[2017-09-17 22:37] SPlanzer commented on #209
This is with @Deb-Jones for testing.

I am closing the dev ticket. Enhancements and bugs to be tracked against [code repo](
https://github.com/linz/address-data-quality/issues)

[2017-09-17 22:37] #209 closed

[2017-09-20 23:20] Deb-Jones opened #210 "Unable to edit details of a proposed address."
When the user attempts to edit any details of a proposed address, and leave the address as proposed, an error pops up stating 'A feature may not be updated to "proposed"'.

The cause of this will be that the message the UI sends to the API has the Life Cycle field populated so it is attempting to update the Life Cycle, but there is a validation rule that prevents the life cycle being updated to pr

[2017-09-21 21:16] SPlanzer commented on #210
This is an API issue.

[2017-09-21 22:40] imincik commented on #209
Thanks @SPlanzer .

[2017-10-20 01:09] Deb-Jones opened #211 "Unable to accept address with level type, level and unit value but no unit type."
Submitting an address with Level Type, Level Value and Unit Value populated, but Unit Type not populated creates a warning: Unit Type as not been supplied.

It is not possible to accept this address.

![image](https://user-images.githubusercontent.com/15723101/31800761-a06ec8bc-b59f-11e7-9225-3b95edfcfaac.png)

To accept these addresses I deleted the Level Type and Level Value.

@linzbjones I thin

[2017-10-20 01:44] SPlanzer commented on #211
@Deb-Jones This is an API issue

[2017-10-31 20:06] SPlanzer opened #212 "AIMS Plugin - API data not shown when using some machines"
@jason-bedford has long experienced issues when using the QGIS AIMS Plugin from his laptop.

The issue being that none of the API data is displayed in the AIMS client. Database contextual data not affected and is shown. No API request timeouts shown. UI logs show API comms.

31/10/2017 @richfree38 found himself with the same issue. From his laptop he is no longer able to display API data in the AI

[2017-11-22 01:48] SPlanzer opened #213 "Proposed addressed can not be updated"
as per
https://github.com/linz/QGIS-AIMS-Plugin/blob/dd04fe167603b41e1a91eabe389e7b090e01c117/AimsUI/AimsClient/Gui/UiUtility.py#L382

proposed address can not be updated. There is a flaw in the logic here. This check can simply be removed providing it is okay to switch addresse from "Current" to "Proposed"

[2017-11-30 00:58] Deb-Jones commented on #213
During AIMS development I asked to be able to change an address from current to proposed, but e-Spatial said that this would corrupt the data integrity.
I would have thought however that a limitation such as this would belong in the API rather than the UI.
I would like to know the impact on data of editing an address from current to proposed.

[2017-11-30 20:50] SPlanzer commented on #213
Hi @Deb-Jones. I can not recall why this check was added, so your comment helps makes some sense of this bug. I knew there had to be a reason for the above check. It is the sort of thing we tried to avoid hard coding into the ui many times.

To get an answer to your question you will need to direct this at eSpatial

[2018-02-09 03:04] charlottedawson opened #214 "Select Address Point and associated road segment is highlighted."
As an Addressing Analyst I want to  select an address point and have all road segments associated with that point highlighted.

[2018-02-09 03:05] charlottedawson opened #215 "Select road segment and associated address points are highlighted."
As an Addressing Analyst I want to  select a road segment and have all address points associated with that segment highlighted.

[2018-02-11 20:29] SPlanzer opened #216 "Test AIMS plugin for DAAS upgrade of QGIS (2.18)"
@splanzer to oversee plugin release and testing for DASS QGIS upgrade with the support of the Addressing Team

[2018-02-28 20:36] SPlanzer opened #217 "[Documentation] Much more documentation required"
Required:
* Dev notes
* Install details including Config file editing
* reference and links to user guide in wiki

[2018-03-06 00:33] SPlanzer commented on #216
**What needs to be done?**
A new release of the AIMS QGIS Plugn must be made avialble for conducting testing agaisnt QGIS 2.18
 as this is about to be deployed in DAAS (as per issues [171](https://github.com/linz/LI-tasks/issues/171))

As well as testing, this release will involve some development. This is as after the code freeze pre AIMS go live, minor bug fixes and enhancements were made in ant

[2018-03-20 23:02] jason-bedford opened #218 "Opening the AIMS plugin crashes QGIS"
If I try and open the AIMS plugin on my laptop it crashes QGIS (2.8.7).
I tried re-installing the plugin but it made no difference.
It started doing this a couple of weeks ago, and had been working fine before then.
I am able to use it OK when in DaaS.

[2018-03-20 23:08] SPlanzer commented on #218
I didn't change anything. If it wasn't me that broke it, I assume you broke it.

[2018-03-20 23:10] SPlanzer commented on #218
But seriously, 2.8 is on the way out. I am going to create a new release for 2.18 this week. We will test the plugin against both daas and desktop environments and remedy then if required.

[2018-03-20 23:10] SPlanzer commented on #218
Im going to close this and we will open a new issue for the 2.18 plugin release

[2018-03-20 23:10] #218 closed

[2018-04-04 01:26] SPlanzer commented on #216
FYI @linzbjones

[2018-04-04 01:28] linzbjones commented on #216
@jason-bedford the AIMS plugin and Roads plugin are nearly ready for release, can you please review AIMS test plan? Once reviewed get @SPlanzer @dwsilk to review it also.

[2018-04-04 02:11] jason-bedford commented on #216
@linzbjones Where do I find the test plan? Is it in github?

[2018-04-04 02:27] linzbjones commented on #216
@jason-bedford sent via email

[2018-05-04 03:21] jason-bedford commented on #216
@linzbjones I've finished reviewing the AIMS test plan.
I've saved it as a new spreadsheet named 'AIMS Test Plan' in the same folder as the old one (which is named AIMS 1 UI Test), as the old had contained 12 tabs full of stuff and was very confusing.
The new test plan is based on the tab named 'Test_Results' in the old plan.
I've hidden a bunch of columns in the new one to make it easier to read,

[2018-05-04 03:24] SPlanzer commented on #216
Thanks @jason-bedford. I am looking at this task right now. Once we have gone over the test plan it would be good to get some of your time to start testing the AIMS plugin.

And, yes please, can you send a link to the test plan.

[2018-05-06 20:57] linzbjones commented on #216
thanks, @jason-bedford. I will send the latest test plan to @SPlanzer and @dwsilk so they can look over it for you.

[2018-05-06 21:58] SPlanzer commented on #216
AIMS stood up on LI-Server ready for testing.

Note (To myself and reviewers): This has been stood up via the app_view-plugin_labelling branch of AIMS-deployment and is awaiting a PR review [#57](https://github.com/linz/AIMS-deployment/pull/57)

This update to the AIMS-Deployment sees a view added to the BDE schema to support table labeling.

[2018-05-06 22:35] SPlanzer commented on #216
@jason-bedford I will review the test plan this morning.

In the mean time, instructions on connecting to the test instance of the plugin and upgrading to the Release Candidate version of the AIMS plugin follow. I would be happy if you would like to grab me when you perform these steps initially and I can go through them with you to ensure it is painless as possible and add any extra detail not in

[2018-05-06 22:44] linzbjones commented on #216
Sent test plan to @SPlanzer and @dwsilk for review.

[2018-05-07 00:31] SPlanzer commented on #216
@jason-bedford I have added test 18, 19 as related to the new release that enables parcel labeling

for tests such as "During update, Level Value can not be deleted when Level Type exists " (~197) that have a result such as "Change appears on Review queue. Warning: Level Value has not been supplied" should these all have a corresponding test that upon fixing the issues the warning has been removed

[2018-06-19 03:38] SPlanzer opened #221 "Move Configuration file location"
A release of the QGIS plugin is due as part of the DaaS 2.18 Role out.

As part of this release the user config .ini file needs to be decoupled from the plugin.
The current location causes several issues
* When users removed and reinstate the plugin their config is lost
* It is very cumbersome to navigate to the QGIS plugin location on daas and then edit the config.

The .ini should be moved to th

[2018-06-21 20:23] SPlanzer opened #222 "Deploy parcel labeling view in bde schema"
Related to parcel labeling #200

It was decided this was best deployed via a [patch to the bde_uplaoder](https://github.com/linz/linz_bde_uploader/blob/parcel_view/sql/99-patches.sql)

As part of rolling this functionality out in the next few weeks this needs to be reviewed and bde_uploader code removed if not required.

[2018-06-24 22:50] SPlanzer commented on #221
Will also need to:
* - [x]  Document where and how to config .ini
* - [ ]  Re think where template lives

[2018-06-25 00:57] SPlanzer commented on #221
[Documented](https://github.com/linz/QGIS-AIMS-Plugin/wiki/Plugin-configuration)

[2018-06-26 01:43] SPlanzer commented on #221
**Approach has failed when applied to DaaS**

Part of the reason of moving the location of the config file is to allow DaaS users to navigate to the files location via the Windows GUI. Where this file is currently stored in the plugin dir of the DaaS QGIS installation users can not navigate here via the Windows GUI.

It was expected users would be able to access the config file if it was placed in

[2018-07-04 20:18] SPlanzer commented on #164
BDE Uploader upgrade is being tested (AIMS/issues/304). A change to LOL outputs means this has been down sometime. It has ran on tst and caught up.

On test this has resulted in ~5000 records that must be review via the plugin. This known issue means the plugin does not allow for this and will not support the addressing team in processing the parcel reference update once the BDE Processor "catches

[2018-07-04 20:39] SPlanzer commented on #221
UI Element in DEV.

[2018-07-27 01:52] SPlanzer commented on #216
This is blocked by linz/ds-dev-team/issues/147 - Currently when installing a Plugin into QGIS (official version as part of DaaS), when logging out and starting the next DaaS session the plugin must be re-installed and configured.

I have however started initial testing with the new AIMS release and QGIS 2.18 as installed in DaaS. Initial results are not good. When loading the plugin and panning /

[2018-08-17 04:18] josephramsay opened #227 "QGis 2.18 EOL"
As QGis2.18 approaches EOL and we shift to QGis3.4 (LTR) October 2018 we have to upgrade the plugin code to be Python3 compatible

[2018-08-17 04:34] josephramsay commented on #227
branch for changes https://github.com/linz/QGIS-AIMS-Plugin/tree/py3_compat

[2019-01-21 21:39] TrentGulliver opened #228 "Address Points"
As per the discussion between Simon, Joe and Trent on Friday 18 January, the Addressing Team have noticed that the Address Points are sometimes not loading up as expected.  The points either take a long time to load, or they don't load at all.  A work-around is to close out of the application and try again.

@SPlanzer, @jason-bedford can provide you with further detail if need be.

Thanks
Trent.

[2019-01-21 21:47] SPlanzer commented on #228
Thanks for opening this @TrentGulliver.

There have been no source code changes therefore we will have to investigate network and server performance.

We will  comment once we have more. Cheers.

[2019-01-21 21:50] TrentGulliver commented on #228
Great – thanks a lot!

From: Simon Planzer [mailto:notifications@github.com]
Sent: Tuesday, 22 January 2019 10:48 a.m.
To: linz/QGIS-AIMS-Plugin
Cc: Trent Gulliver; Mention
Subject: Re: [linz/QGIS-AIMS-Plugin] Address Points (#228)

Thanks for opening this @TrentGulliver<https://github.com/TrentGulliver>.

There have been no source code changes therefore we will have to investigate network and ser

[2019-01-21 21:59] josephramsay commented on #228
@TrentGulliver Taking a look at the p1/p3 server cpu/mem/disk etc. Everything seems okay. Wondering if the issue might be backup related or just due to server load? Are you seeing this happen at any particular time? Only when n>X users are working on AIMS?
edit: logs aren't showing anything extraordinary either. Pls flag to us next time you see problems occuring

[2019-01-21 22:08] jason-bedford commented on #228
It was happening most days last week when we were firing up the plugin first thing in the morning.
Closing QGIS and trying again straight away would work. Renni was the first person to open AIMS each morning and he wasn't having the problem, but the rest of us were.

[2019-01-21 22:40] josephramsay commented on #228
@jason-bedford I'm seeing Rennie's (anti-social-o'clock in the morning) accesses. They all seem to be succeeding. The API hasn't logged any errors for those time periods...
[code]

[2019-01-21 22:42] jason-bedford commented on #228
Yeah, he's not having the issue. Have a look at mine or Richard's logs.

[2019-01-21 22:50] josephramsay commented on #228
On the DB side am only seeing layer_styles errors
[code]
which are a known non-problem.

the only other ones for the 17th, not at daily startup include:
[code]

[2019-01-21 22:53] josephramsay commented on #228
Okay, thanks @jason-bedford . For Richard, it looks like hes seeing network issues
[code]
Connectivity errors for Rennie too. Can you confirm hes not seeing the problem pls

[code]

[2019-01-22 19:34] jason-bedford commented on #228
I've just had this happen again. I fired up the AIMS plugin at 8:29 and no address points were visible.
Closed and re-opened QGIS and restarted the AIMS plugin at 8:31 and the address points are back.

[2019-01-22 21:03] josephramsay commented on #228
Thanks for the detailed report. I can see your access logs but unfortunately no errors or any other information.
[code]
@SPlanzer says the aims plugin is generating a log file. Would you be able to send this to me please

[2019-01-22 21:11] jason-bedford commented on #228
There's two log files which I'll email you @josephramsay, but the first entries in each were at 8:31 which was when I was successful at opening the plugin, so they may not be of much use.
If I have the problem tomorrow I'll check the log files before re-starting the plugin.

[2019-01-22 22:10] josephramsay commented on #228
Yep got it, thx. Not much use since its reset on each initialisation. Don't know if the log tomorrow will show much either but its interesting that it only happens at the first startup of the day ... _some kind of windows authentication sync issue perhaps?_

[2019-01-22 22:30] josephramsay commented on #228
[code]
...above is the postgres connection failure which occurs after your first login attempt.

[2019-01-27 20:02] jason-bedford commented on #228
I've had this happen again and I've saved a copy of the log files which I'll email to @josephramsay.
Also noted that I am able to view the address points which are in the Review queue, but not the "live" addresses.

[2019-01-28 20:28] jason-bedford commented on #228
@josephramsay looked at the log file and noticed the initial operation to refresh the address points within the saved bounding box is timing out.
I amended the value "thread_join_timeout" in the aimsconfig.ini file from 1s to 5s, which lengthened  the timeouts but didn't fix the issue.

[2019-01-30 00:57] josephramsay commented on #228
Plan to add setBB specific logging and add tests to determine fault.

[2019-02-26 20:25] jason-bedford commented on #228
A workaround for this issue is to load a different plugin, for example the QGIS IntraMaps Connector, before loading the AIMS plugin.
Since loading the plugins in this order I haven't been having the issue with the addresses not displaying.

[2019-03-14 23:53] MarksNgahi opened #229 "Unable to update Current feature to Proposed feature"
Issue 1 - Unable to update a Current address to a Proposed address.
Steps to reproduce the error message is as follows:

1.  Search for an existing current address.
2.  Click on the Update AIMS Feature button.
3.  Change the Life Cycle from current to proposed.

![image](https://user-images.githubusercontent.com/24397894/54397945-21e83300-471d-11e9-954b-bbdae1352b1b.png)

The default Life Cycle ty

[2019-03-17 19:31] SPlanzer commented on #229
Hi @MarksNgahi

This was discussed during development. As per [the comment in issue 213;](https://github.com/linz/QGIS-AIMS-Plugin/issues/213#issuecomment-348047868) addresses can not be changed from current to proposed.

I have also looked at the validation rule table and AIMS is set to reject such an action.

| validationruleid  | description | ruleid  | severity | validate | visible
| ---------

[2019-03-17 19:34] SPlanzer opened #230 "Unable to update the road centre line of an existing Proposed address."
originally opened as part of #229 and the below is copied over.

Issue 2 - Unable to update the road centre line of an existing Proposed address.
Steps to reproduce the error message is as follows:

1.  Search for an existing proposed address.
2.  Click on the Update AIMS Feature button.
3.  Click on the button used to select a new road centre line.
4.  Select a different road centre line and subm

[2019-03-17 19:37] SPlanzer commented on #230
reading this again it makes sense to manage as part of #229

[2019-03-17 19:40] SPlanzer commented on #229
I have opened an new issue to manage the updating of the road  (#230)

[2019-03-17 19:53] SPlanzer commented on #230
The UI had a check put in place to stop addresses being updated to proposed (see #213). Its need at the UI level is questionable.

Triage-ing this issue will begin with removing this check and performing this action against the API to confirm the API allows this action. If so, removing the UI check should be considered

[2019-03-21 01:32] SPlanzer commented on #230
I have built a test environment and confirmed the UI is blocking this action that the API will allow.

The below code can be safely removed from the UI to allow AIMS users to update proposed address properties.

https://github.com/linz/QGIS-AIMS-Plugin/blob/e1303f21924f5ddea87959e9efb1308c3ae4f4c9/AimsUI/AimsClient/Gui/UiUtility.py#L380-L383

This will not have any adverse effects as the API check

[2019-05-20 23:29] jason-bedford opened #231 "Python error when accepting address"
I frequently get the error message shown below when accepting an edit from the Review queue.
I'm not sure if this error has been raised previously, so I'm raising it just in case.

====================================================

An error has occurred while executing Python code:

Traceback (most recent call last):
  File "C:/Users/jbedford/.qgis2/python/plugins\aims\AimsUI\AimsClient\Gui\Rev

[2019-05-20 23:56] SPlanzer commented on #231
Thanks @jason-bedford for opening this. I am not aware of it and there is no records in the github issues either.

If you come to understand the set of circumstances leading to this can you document steps to reproduce it.

Can you also add any information that might inform the priority of resolving the bug
* What happens after you close the traceback report?
  * Does the system crash?
  * Is the U

[2019-05-21 01:25] jason-bedford commented on #231
The system does not crash, and I can continue to use the UI.
The address remains in the Review queue, and clicking Accept a second time on the same address tells me that another user has edited the feature (or whatever the standard message says).
After a while the address becomes accepted and disappears from the Review queue.
It's possible that the UI is out of sync with the API, but not sure how

[2020-02-27 00:23] YingtingChen opened #232 "Unable to retire addresses on the road with macron letter"
Our user got this error when retiring an address `7 Tāiko Place`

[code]

This error would occur when users are retiring an address whose full address includes macronated letters (road name/locality/city).

A workaround is to remove the macronated letter in the road name and retire the address and change back the road name.

[2020-02-27 02:06] SPlanzer opened #233 "Add Nina to AIMS"
from @YingtingChen

Adding here to track task and follow up questions

[2020-02-27 02:07] SPlanzer commented on #233
Hi @YingtingChen

I have added this task here to track as it has multiple steps.

Does she also also require access to the AIMS API?

[2020-02-27 02:14] YingtingChen commented on #233
If she will use the AIMS plugin then yes she needs access to api as well.
We have [page](https://confluence.linz.govt.nz/display/GEOD/AIMS+Plugin+Setup) that lists all the things that need to be done. And I believe I can set up the tomcat user from my end :)

[2020-02-27 02:17] SPlanzer commented on #233
Ah. great. I'll do the database side before I go home tonight.
Let me know if you need a hand with the API user or Tomcat side

[2020-02-27 02:17] YingtingChen commented on #233
Sweet. Thanks for the help!

[2020-02-27 03:37] SPlanzer commented on #233
new user created on prd

[code]

[2020-02-27 03:37] #233 closed

[2020-10-20 02:54] SPlanzer commented on #62
nothing here - closing

[2020-10-20 02:54] #62 closed

[2020-10-20 02:54] SPlanzer commented on #66
now meaningless - closing

[2020-10-20 02:54] #66 closed

[2020-10-20 03:12] SPlanzer commented on #231
@jason-bedford Is this still an issue?

[2020-10-20 22:52] jason-bedford commented on #231
@SPlanzer Yes I believe it is still an issue. I'm still getting an error on occasion so assume it is the same one.
It seems to happen after I've edited an existing address. It will remain in the queue but if I then Accept a new address from the queue it will then clear itself.

[2020-10-20 23:36] SPlanzer commented on #231
cheers @jason-bedford. Im doing an issue tidy up, I wont be assigned this as a priority anytime in the near future. For this reason I will take myself of and assign @YingtingChen and leave it up to the addressing team to prioritise

[2022-06-27 04:23] billgeo opened #234 "Move Travis CI to Github Actions"
Travis is no longer configured for this repo as LINZ has moved all it's CI to Github Actions.